/* sass
--------------------------------*/
/* addon content
--------------------------------*/
/* line 9, scss/addon.scss */
.picture {
  margin-bottom: 15px;
}
/* line 12, scss/addon.scss */
.picture img {
  -moz-box-shadow: 0 0 6px 5px #c8cdb6;
  -webkit-box-shadow: 0 0 6px 5px #c8cdb6;
  -o-box-shadow: 0 0 6px 5px #c8cdb6;
  box-shadow: 0 0 6px 5px #c8cdb6;
}

/* line 17, scss/addon.scss */
.picture-centered {
  text-align: center;
}

/* line 21, scss/addon.scss */
p.accent {
  font: 18px Arial, Helvetica, sans-serif;
  color: black;
  line-height: 1.466 !important;
  margin-bottom: 19px;
}

/* line 27, scss/addon.scss */
.accent p {
  font: 18px Arial, Helvetica, sans-serif;
  color: black;
  line-height: 1.466 !important;
  margin-bottom: 0;
}

/* line 33, scss/addon.scss */
.note-text, .note {
  color: #5F605B;
}

/* line 37, scss/addon.scss */
.note {
  padding-left: 120px;
}

/* line 42, scss/addon.scss */
.caption {
  font-style: italic;
  color: #346a0e;
  text-align: center;
}

/* line 48, scss/addon.scss */
.incut {
  font: 12px Arial, Helvetica, sans-serif;
  color: black;
  position: relative;
  margin-bottom: 25px;
  padding: 15px 60px;
  background: #fff;
  line-height: 1.7 !important;
  border-bottom: 1px solid #BEBFB6;
}
/* line 58, scss/addon.scss */
.incut:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  bottom: auto;
  left: 50%;
  right: auto;
  width: 599px;
  height: 17px;
  z-index: -1;
  background: url("../img/bg_shadows.png") no-repeat 0 -51px;
  margin-left: -299.5px;
  z-index: 1;
}

/* line 63, scss/addon.scss */
.data-table {
  width: 100%;
  margin-bottom: 25px;
  border-top: 2px solid #767772;
  border-bottom: 2px solid #767772;
}
/* line 69, scss/addon.scss */
.data-table td {
  padding: 10px 10px;
}
/* line 73, scss/addon.scss */
.data-table .head td {
  padding: 5px 10px;
  font-weight: bold;
  color: #3f7f12;
  background: #fff;
  border-bottom: 1px solid #767772;
}
/* line 81, scss/addon.scss */
.data-table .bdt {
  border-top: 1px solid #767772;
}
