/* sass
--------------------------------*/
/* global
--------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, textarea, keygen, select, button, isindex { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

/* temporary block for switcher items
--------------------------------*/
.switcher { margin-bottom: 20px; }

.switcher-item { display: none; }

.switcher-list { position: absolute; top: 4px; right: 0; overflow: hidden; padding: 0 0 5px; }

.switcher-list li { font: 11px Arial, Helvetica, sans-serif; color: #bb0000; float: left; padding: 3px 7px; margin: 0 4px; }

.switcher-list .active { background: #AE0C0C; padding: 3px 7px; -moz-box-shadow: 0 1px 0px 0px white; -webkit-box-shadow: 0 1px 0px 0px white; -o-box-shadow: 0 1px 0px 0px white; box-shadow: 0 1px 0px 0px white; -moz-border-radius: 7px; -webkit-border-radius: 7px; -o-border-radius: 7px; -ms-border-radius: 7px; -khtml-border-radius: 7px; border-radius: 7px; }

.switcher-list li a, .switcher-list li a:visited { text-decoration: none; color: #bb0000; border-bottom: 1px dashed #bb0000; line-height: 1; }

.switcher-list .active a, .switcher-list .active a:visited { color: white; border-bottom: none; cursor: default; }

.switcher-list li a:hover { color: #356812; border-bottom: 1px dashed #356812 !important; }

.switcher-list .active a:hover { color: white !important; border-bottom: none !important; }

/* CLEAR FIX*/
.cf:before, .switcher:before, .eq_columns:before, .breadcrumbs:before, .page-header:before, .page-content:before, .page-footer:before, .header-search-section:before, .footer-nav .subtitles:before, .report-item:before, .cf:after, .switcher:after, .eq_columns:after, .breadcrumbs:after, .page-header:after, .page-content:after, .page-footer:after, .header-search-section:after, .footer-nav .subtitles:after, .report-item:after { content: ""; display: table; }

.cf:after, .switcher:after, .eq_columns:after, .breadcrumbs:after, .page-header:after, .page-content:after, .page-footer:after, .header-search-section:after, .footer-nav .subtitles:after, .report-item:after { clear: both; }

/* For IE 6/7 (trigger hasLayout) */
.cf, .switcher, .eq_columns, .breadcrumbs, .page-header, .page-content, .page-footer, .header-search-section, .footer-nav .subtitles, .report-item { zoom: 1; }

/* helpers
--------------------------------*/
.g-pointer { cursor: pointer; }

.b-divider-dotted { border: 0; background: none; margin: 25px 3px 40px 2px; border-bottom: 3px dotted #A4C78C; }

.promo { clear: both; margin-bottom: 30px; padding: 13px 0 10px 0; background: #FFF; border-width: 1px; border-style: solid; border-top-color: #81886B; border-right-color: #B3B7A7; border-bottom-color: #D9DBD3; border-left-color: #B3B7A7; -moz-box-shadow: inset -1px 2px 3px 0px #b3b7a7; -webkit-box-shadow: inset -1px 2px 3px 0px #b3b7a7; -o-box-shadow: inset -1px 2px 3px 0px #b3b7a7; box-shadow: inset -1px 2px 3px 0px #b3b7a7; text-align: center; }

/* blocks
--------------------------------*/
.content .b-exude-border { margin-bottom: 25px; }

.b-exude-border { position: relative; padding: 15px 20px; border: 3px dotted #4A8F19; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }

.b-exude-rounded_sh { position: relative; padding: 0 20px; background: #EDEFE4; border-top: 1px solid #999D89; -moz-border-radius: 10px; -webkit-border-radius: 10px; -o-border-radius: 10px; -ms-border-radius: 10px; -khtml-border-radius: 10px; border-radius: 10px; margin-bottom: 25px !important; }
.b-exude-rounded_sh:after { background: url("../img/bg_shadows.png") no-repeat 0 -68px; content: ''; position: absolute; display: block; top: auto; bottom: -15px; left: 50%; right: auto; width: 427px; height: 15px; z-index: -1; margin-left: -213px; }

.page-column .b-exude-rounded_sh { padding: 20px 20px 10px 20px; }

/* shadowed light
--------------------------------*/
.b-exude-shadowed-light { position: relative; margin: 0 -40px; padding: 0 40px; background: white; padding-top: 32px; margin-bottom: 43px; }
.b-exude-shadowed-light .switcher-list { top: 10px; }
.b-exude-shadowed-light:before, .b-exude-shadowed-light:after { background: url("../img/bg_shadows.png") no-repeat; }
.b-exude-shadowed-light:before { content: ''; position: absolute; display: block; top: 0; bottom: auto; left: 0; right: auto; width: 917px; height: 25px; z-index: -1; z-index: 1; }
.b-exude-shadowed-light:after { content: ''; position: absolute; display: block; top: auto; bottom: -25px; left: 0; right: auto; width: 917px; height: 25px; z-index: -1; z-index: 1; }

.b-exude-light { position: relative; margin-bottom: 25px; padding: 25px 10px; background: #fff; line-height: 1.7 !important; }
.b-exude-light:before { content: ''; position: absolute; display: block; top: 0; bottom: auto; left: 50%; right: auto; width: 599px; height: 17px; z-index: -1; background: url("../img/bg_shadows.png") no-repeat 0 -51px; margin-left: -299.5px; z-index: 1; }

/* columns blocks
--------------------------------*/
.eq_columns li { float: left; margin-bottom: 40px; padding-left: 0 !important; }
.eq_columns li:before { content: ''; display: none; }
.eq_columns .title { margin-bottom: 16px; line-height: 1.6; font: 13px Georgia, "Times New Roman", serif; color: #bb0000; }
.eq_columns .title a { line-height: 1.66; }
.eq_columns .details { font: 11px Arial, Helvetica, sans-serif; color: black; }
.eq_columns figure { margin-bottom: 10px; }
.eq_columns figure img { -moz-box-shadow: 0 0 5px 3px #c9ceb8; -webkit-box-shadow: 0 0 5px 3px #c9ceb8; -o-box-shadow: 0 0 5px 3px #c9ceb8; box-shadow: 0 0 5px 3px #c9ceb8; }

.eq_columns--three { margin: 0 -20px; }
.eq_columns--three li { width: 280px; margin-left: 20px; margin-right: 20px; }

.eq_columns--three_short { margin: 0 -20px; }
.eq_columns--three_short li { width: 172px; margin: 0 20px 25px 20px; }

.eq_columns--four { margin: 0 -10px; }
.eq_columns--four li { width: 210px; margin-left: 10px; margin-right: 10px; }
.eq_columns--four li:nth-child(4n - 2) { width: 210px; margin-right: 30px; }

.eq_columns--six { margin: 0 -20px; }
.eq_columns--six li { width: 120px; margin-left: 20px; margin-right: 20px; }

/* breadcrumbs
--------------------------------*/
.breadcrumbs { margin-bottom: 15px; }

.breadcrumbs li { float: left; }

.breadcrumbs li a, .breadcrumbs li span { margin: 0 6px; }

.breadcrumbs li:first-child a { margin-left: 0; }

body { font: 13px Arial, Helvetica, sans-serif; color: black; line-height: 1.5; }

input::-webkit-input-placeholder { color: #999 !important; }

input:-moz-placeholder { color: #999 !important; }

strong, b { font-weight: bold; }

i { font-style: italic; }

.content { line-height: 1.6; }

.content p { margin-bottom: 20px; line-height: 1.66; }

/* links
--------------------------------*/
a { color: #bb0404; -moz-transition: 0.2s all ease-in-out; -webkit-transition: 0.2s all ease-in-out; -o-transition: 0.2s all ease-in-out; transition: 0.2s all ease-in-out; }

.page-sidebar a { font-size: 13px; }

.page-sidebar a:visited, .content a:visited { color: #620b9f; }

.page-footer .footer-nav a:hover, .page-content a:hover, .page .content a:hover, .page .page-sidebar a:hover, a:hover { color: #356812; }

a.lnk-dashed { text-decoration: none; border-bottom: 1px dotted #bb0000; }

a:hover.lnk-dashed { color: #bb0000; border-bottom: 2px solid #bb0000; }

a.lnk-print:visited { color: #bb0000; }

.switcher-list a { outline: none; }

/* headers
--------------------------------*/
h1, h2, h3, h4, h5 { font: 13px Georgia, "Times New Roman", serif; color: black; line-height: 1.166; }

h1 { font-size: 32px; margin-bottom: 16px; }

h2 { font-size: 28px; margin: 0 0 15px 0; line-height: 1.3; }

h3 { font-size: 24px; margin-bottom: 15px; line-height: 1.4; }

h4 { font-size: 22px; margin-bottom: 20px; line-height: 1.5; }

h5 { font-size: 16px; margin-bottom: 20px; line-height: 1.6; }

h4 a { color: #c-link; }

h2 a, h3 a { color: #000; }

.content h2 { margin-bottom: 13px; }

/* lists
--------------------------------*/
.page-column ul, .page-column ol { margin-bottom: 15px; }

.page-column ul p, .page-column ol p { margin-bottom: 0; }

.page-column ol { counter-reset: item; }

.page-column ol { margin-left: 0; }

.page-column ol ol { margin-left: 20px; }

.page-column ol li { display: block; clear: both; }

.page-column ol li:before { counter-increment: item; content: counters(item, ".") "."; float: left; margin-right: .6em; }

/* unordered
--------------------------------*/
.page-column { /* ordered
--------------------------------*/ }
.page-column ul ul { margin-bottom: 0; }
.page-column ul li { position: relative; padding-left: 20px; }
.page-column ul li:before { position: absolute; content: "\2014"; font-size: 20px; line-height: 1; width: 0.7em; overflow: hidden; left: 0; top: -2px; color: #3F7F12; }
.page-column ol { list-style: decimal; }
.page-column ol li { font-weight: bold; color: #3f7f12; }
.page-column ol li p { font-weight: normal; color: #000; }

.exude-list { font: 16px Georgia, "Times New Roman", serif; color: black; }
.exude-list a { color: #285a06; }
.exude-list li { margin-bottom: 15px; }
.exude-list li:before { color: #000; }

/* global page styles
--------------------------------*/
/* Base layout
--------------------------------*/
html, body { height: 100%; }

.page { position: relative; z-index: 0; min-height: 100%; background-color: #EDEFE4; }

.page:before { content: ''; position: absolute; display: block; top: 0; bottom: auto; left: auto; right: auto; width: 100%; height: 66px; z-index: -1; background: #880606; }

.page:after { content: ''; position: absolute; display: block; top: 66px; bottom: auto; left: 0; right: auto; width: 100%; height: 1600px; z-index: -1; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFD1D6C1', endColorstr='#FFEDEFE4'); background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d1d6c1), color-stop(100%, #edefe4)); background-image: -webkit-linear-gradient(top, #d1d6c1 0%, #edefe4 100%); background-image: -moz-linear-gradient(top, #d1d6c1 0%, #edefe4 100%); background-image: -o-linear-gradient(top, #d1d6c1 0%, #edefe4 100%); background-image: -ms-linear-gradient(top, #d1d6c1 0%, #edefe4 100%); background-image: linear-gradient(top, #d1d6c1 0%, #edefe4 100%); }

/* Main page layout blocks
--------------------------------*/
.page-header, .page-content, .page-footer { position: relative; z-index: 10; }

.page-header, .page-content { width: 920px; margin: 0 auto; }

.page-content-column { float: left; width: 600px; }

.page-sidebar { float: right; width: 280px; }

.page-footer { border-top: 1px solid #B3B7A4; background: #D1D6C1; margin-top: 20px; }
.page-footer:after { content: ''; position: absolute; display: block; top: auto; bottom: 0; left: auto; right: auto; width: 100%; height: 70px; z-index: -1; background: #880606; }

.page-footer-wrapper { position: relative; width: 920px; margin: 0 auto; padding-top: 27px; }
.page-footer-wrapper:before { content: ''; position: absolute; display: block; top: -1px; bottom: auto; left: 50%; right: auto; width: 917px; height: 25px; z-index: -1; background: url("../img/bg_shadows.png") no-repeat; margin-left: -458px; }

/* articles/ column-pages
--------------------------------*/
.page-column { float: left; width: 600px; }

.page-sidebar { float: right; width: 280px; }

/* header nav
--------------------------------*/
.header-nav { text-align: justify; height: 58px; }
.header-nav li { display: inline-block; text-align: left; margin-top: 20px; font: 12px Arial, Helvetica, sans-serif; color: white; }
.header-nav a { color: white; }
.header-nav a:hover { color: #F2E121; }
.header-nav .active { position: relative; color: #f2e123; }
.header-nav .active:before { content: ''; position: absolute; display: block; top: -20px; bottom: auto; left: -10px; right: auto; width: 100%; height: 60px; z-index: -1; padding: 0 10px; background-color: #d00e0e; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFD00E0E', endColorstr='#FF880A0A'); background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d00e0e), color-stop(100%, #880a0a)); background-image: -webkit-linear-gradient(top, #d00e0e 0%, #880a0a 100%); background-image: -moz-linear-gradient(top, #d00e0e 0%, #880a0a 100%); background-image: -o-linear-gradient(top, #d00e0e 0%, #880a0a 100%); background-image: -ms-linear-gradient(top, #d00e0e 0%, #880a0a 100%); background-image: linear-gradient(top, #d00e0e 0%, #880a0a 100%); }

.nav-item-sizer { width: 100%; }

/* header intro
--------------------------------*/
.header-intro { position: relative; width: 920px; height: 200px; background: url("../img/bg_header_intro.jpg"); margin-bottom: 31px; }

.header-intro:before { content: ''; position: absolute; display: block; top: auto; bottom: -44px; left: 50%; right: auto; width: 882px; height: 44px; z-index: -1; margin-left: -441px; background: url("../img/bg_header_intro_shadow.png"); }

.header-intro:after { content: ''; position: absolute; display: block; top: 25px; bottom: auto; left: auto; right: -40px; width: 104px; height: 152px; z-index: -1; background: url("../img/bg_header_intro_card.png"); z-index: 1; }

/* header title
--------------------------------*/
.intro-content { width: 300px; margin-left: 20px; padding-top: 24px; }

.intro-title { font: 26px Georgia, "Times New Roman", serif; color: #204804; text-shadow: 0 1px 0px #fff; margin-bottom: 26px; line-height: 1.166; }

.intro-title span { display: block; }

.intro-home { text-decoration: none; font: 18px Arial, Helvetica, sans-serif; color: #2a2a2a; }

.pr-intro-home-bg { display: none; }

/* header search section
--------------------------------*/
.header-search-section { margin-bottom: 31px; height: 87px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }

.search { float: left; width: 600px; height: 100%; vertical-align: top; padding: 25px 20px; background-color: #77c43f; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF77C43F', endColorstr='#FF417E15'); background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #77c43f), color-stop(100%, #417e15)); background-image: -webkit-linear-gradient(top, #77c43f 0%, #417e15 100%); background-image: -moz-linear-gradient(top, #77c43f 0%, #417e15 100%); background-image: -o-linear-gradient(top, #77c43f 0%, #417e15 100%); background-image: -ms-linear-gradient(top, #77c43f 0%, #417e15 100%); background-image: linear-gradient(top, #77c43f 0%, #417e15 100%); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }

.search-fullsize { width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }

.search-field-container { margin-right: 100px; }

.search-field-container--wcategory { margin-top: -8px; }

.search-field { display: block; }

.page-column .subscription-form input[type="text"], .search .search-field input { font: 16px Arial, Helvetica, sans-serif; color: black; display: block; width: 100%; padding: 7px 10px 7px; border-width: 1px; border-style: solid; border-top-color: #636363; border-right-color: #B0AFAF; border-bottom-color: #E5E5E5; border-left-color: #B0AFAF; background-color: #e0e0e0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFE0E0E0', endColorstr='#FFFFFFFF'); background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e0e0e0), color-stop(10%, #ffffff)); background-image: -webkit-linear-gradient(top, #e0e0e0 0%, #ffffff 10%); background-image: -moz-linear-gradient(top, #e0e0e0 0%, #ffffff 10%); background-image: -o-linear-gradient(top, #e0e0e0 0%, #ffffff 10%); background-image: -ms-linear-gradient(top, #e0e0e0 0%, #ffffff 10%); background-image: linear-gradient(top, #e0e0e0 0%, #ffffff 10%); }

.search-filter { display: inline-block; color: #fff; margin-top: 6px; margin-bottom: -12px; }

.search-submit { float: right; width: 80px; vertical-align: top; }

.search-submit button { display: block; border: 1px solid #636363; padding: 7px 17px 6px 17px; min-height: 35px; vertical-align: top; background-color: #ffffff; font: 15px Arial, Helvetica, sans-serif; color: black; -moz-border-radius: 1px; -webkit-border-radius: 1px; -o-border-radius: 1px; -ms-border-radius: 1px; -khtml-border-radius: 1px; border-radius: 1px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFD7D7D7'); background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #d7d7d7)); background-image: -webkit-linear-gradient(top, #ffffff 0%, #d7d7d7 100%); background-image: -moz-linear-gradient(top, #ffffff 0%, #d7d7d7 100%); background-image: -o-linear-gradient(top, #ffffff 0%, #d7d7d7 100%); background-image: -ms-linear-gradient(top, #ffffff 0%, #d7d7d7 100%); background-image: linear-gradient(top, #ffffff 0%, #d7d7d7 100%); }

.header-search-section .subscription { float: right; width: 280px; padding: 9px 10px 2px 26px; height: 100%; }
.header-search-section .subscription .subscription-title { font: 16px Georgia, "Times New Roman", serif; color: black; margin-bottom: 8px; }
.header-search-section .subscription .subscription-link { font: 12px Arial, Helvetica, sans-serif; color: black; }

/* intro showcase
--------------------------------*/
.intro-showcase { position: absolute; top: 3px; right: 28px; width: 572px; }
.intro-showcase .scitem { float: left; width: 110px; height: 78px; margin: 12px 33px 0 0; background: url("../img/sc_items.png") no-repeat; }
.intro-showcase .scitem-1 { background-position: 0px 0; }
.intro-showcase .scitem-2 { background-position: -110px 0; }
.intro-showcase .scitem-3 { background-position: -220px 0; }
.intro-showcase .scitem-4 { background-position: -330px 0; }
.intro-showcase .scitem-5 { background-position: -440px 0; }
.intro-showcase .scitem-6 { background-position: -550px 0; }
.intro-showcase .scitem-7 { background-position: -660px 0; }
.intro-showcase .scitem-8 { background-position: -770px 0; }

.footer-nav { margin-top: 2px; margin-bottom: 30px; }
.footer-nav .eq_columns li { margin-bottom: 0; }
.footer-nav .eq_columns--six { margin-bottom: 30px; font: 13px Georgia, "Times New Roman", serif; color: black; }
.footer-nav .title { margin-bottom: 10px; }
.footer-nav .title--exude { margin-bottom: 26px; }
.footer-nav .title a { font: 13px Georgia, "Times New Roman", serif; color: #bb0000; }
.footer-nav .subtitles { margin-bottom: 22px; }
.footer-nav .subtitles a { font: 11px Arial, Helvetica, sans-serif; color: #2e2f2a; float: left; clear: left; margin-bottom: 5px; line-height: 1.4; color: #2E2F2A; }

/* copyright
--------------------------------*/
.counters { width: 640px; height: 70px; }
.counters > div { margin-top: 19px; float: left; margin-left: 30px; }
.counters > div:first-child { margin-left: 0; }

.footnote { position: absolute; right: 0px; bottom: 17px; width: 280px; }

.contact-us { color: #fff; margin-bottom: 9px; }

.contact-us a { color: #fff; }

.contact-us a:hover { text-decoration: none; }

.copy { font: 11px Arial, Helvetica, sans-serif; color: #cf9d9d; }

.page-sidebar { padding-top: 14px; }
.page-sidebar h3 { font: 20px Georgia, "Times New Roman", serif; color: black; margin-bottom: 19px; }
.page-sidebar .b-exude-border { padding-bottom: 0; margin-bottom: 40px; }
.page-sidebar .b-exude-border .resources-list { margin-bottom: 0; }
.page-sidebar .resources-list { margin-bottom: 40px; }
.page-sidebar .resources-list li { font: 12px Georgia, "Times New Roman", serif; color: black; margin-bottom: 11px; line-height: 1.8; }
.page-sidebar .resources-list li a { line-height: 1.4; }
.page-sidebar .resources-list .details { font: 11px Arial, Helvetica, sans-serif; color: black; display: block; margin-top: 4px; }
.page-sidebar .resources-list-inline .details { display: inline-block; }
.page-sidebar .sidebar-promo { margin-bottom: 40px; }
.page-sidebar .switcher { padding: 30px 0 0; }
.page-sidebar .switcher-list { top: 11px; }
.page-sidebar .switcher-list a { font-size: 11px; }

.ico { position: relative; display: inline-block; background: url("../img/icons.png") no-repeat; }

.ico-print { top: 2px; width: 15px; height: 11px; margin-right: 5px; background-position: -40px 0; }

.ico-discuss { top: 2px; width: 24px; height: 16px; margin-right: 5px; }

.article-navigation .ico { position: absolute; }

.ico-prev-article { top: .6em; left: 0; width: 16px; height: 6px; background-position: -24px -7px; }

.ico-next-article { top: .6em; right: 0; width: 16px; height: 6px; background-position: -24px 0; }

input[type="text"], textarea { font: 14px Arial, Helvetica, sans-serif; color: black; line-height: 1.6; padding: 2px 5px; border-width: 1px; border-style: solid; border-top-color: #646464; border-right-color: #B0AFAF; border-bottom-color: #E5E5E5; border-left-color: #B0AFAF; -moz-box-shadow: inset -1px 1px 2px 1px #e0e0e0; -webkit-box-shadow: inset -1px 1px 2px 1px #e0e0e0; -o-box-shadow: inset -1px 1px 2px 1px #e0e0e0; box-shadow: inset -1px 1px 2px 1px #e0e0e0; }

textarea { width: 100%; height: 85px; }

input[type="text"] { padding: 2px 5px; }

.btn { display: inline-block; border: 1px solid #646464; color: #000 !important; background-color: white; -moz-border-radius: 2px; -webkit-border-radius: 2px; -o-border-radius: 2px; -ms-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFE2E2E2'); background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e2e2e2)); background-image: -webkit-linear-gradient(top, #ffffff 0%, #e2e2e2 100%); background-image: -moz-linear-gradient(top, #ffffff 0%, #e2e2e2 100%); background-image: -o-linear-gradient(top, #ffffff 0%, #e2e2e2 100%); background-image: -ms-linear-gradient(top, #ffffff 0%, #e2e2e2 100%); background-image: linear-gradient(top, #ffffff 0%, #e2e2e2 100%); text-align: center; text-decoration: none; }
.btn:hover { background-color: white; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFEFEFEF'); background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #efefef)); background-image: -webkit-linear-gradient(top, #ffffff 0%, #efefef 100%); background-image: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%); background-image: -o-linear-gradient(top, #ffffff 0%, #efefef 100%); background-image: -ms-linear-gradient(top, #ffffff 0%, #efefef 100%); background-image: linear-gradient(top, #ffffff 0%, #efefef 100%); }
.btn:active { background-color: white; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFD8D8D8'); background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #d8d8d8)); background-image: -webkit-linear-gradient(top, #ffffff 0%, #d8d8d8 100%); background-image: -moz-linear-gradient(top, #ffffff 0%, #d8d8d8 100%); background-image: -o-linear-gradient(top, #ffffff 0%, #d8d8d8 100%); background-image: -ms-linear-gradient(top, #ffffff 0%, #d8d8d8 100%); background-image: linear-gradient(top, #ffffff 0%, #d8d8d8 100%); }

button { border: 1px solid #646464; font: 14px Arial, Helvetica, sans-serif; color: black; padding: 8px 13px; background-color: white; -moz-border-radius: 2px; -webkit-border-radius: 2px; -o-border-radius: 2px; -ms-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFE2E2E2'); background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e2e2e2)); background-image: -webkit-linear-gradient(top, #ffffff 0%, #e2e2e2 100%); background-image: -moz-linear-gradient(top, #ffffff 0%, #e2e2e2 100%); background-image: -o-linear-gradient(top, #ffffff 0%, #e2e2e2 100%); background-image: -ms-linear-gradient(top, #ffffff 0%, #e2e2e2 100%); background-image: linear-gradient(top, #ffffff 0%, #e2e2e2 100%); }
button:hover { background-color: white; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFEFEFEF'); background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #efefef)); background-image: -webkit-linear-gradient(top, #ffffff 0%, #efefef 100%); background-image: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%); background-image: -o-linear-gradient(top, #ffffff 0%, #efefef 100%); background-image: -ms-linear-gradient(top, #ffffff 0%, #efefef 100%); background-image: linear-gradient(top, #ffffff 0%, #efefef 100%); }
button:active { background-color: white; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFD8D8D8'); background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #d8d8d8)); background-image: -webkit-linear-gradient(top, #ffffff 0%, #d8d8d8 100%); background-image: -moz-linear-gradient(top, #ffffff 0%, #d8d8d8 100%); background-image: -o-linear-gradient(top, #ffffff 0%, #d8d8d8 100%); background-image: -ms-linear-gradient(top, #ffffff 0%, #d8d8d8 100%); background-image: linear-gradient(top, #ffffff 0%, #d8d8d8 100%); }

/* page style overrides
--------------------------------*/
/* index-page
--------------------------------*/
/* customized headings
--------------------------------*/
.page-index h2 { font: 26px Georgia, "Times New Roman", serif; color: black; margin-bottom: 40px; }
.page-index h3 { font: 20px Georgia, "Times New Roman", serif; color: black; margin-bottom: 16px; }
.page-index .promo { margin-bottom: 10px; }

.hot-offers { margin-top: 35px; }

.customer-helper h3 { margin-bottom: 35px; }

.equal-height-wrapper { position: relative; width: 400px; left: 0px; margin: 60px 0 10px; }
.equal-height-wrapper .switcher-item { margin-top: 35px; }

.equal-height-wrapper-inner { width: 440px; position: relative; left: 100%; margin: 0px -100% 0px 60px; }

/* HOT Interesting
--------------------------------*/
.hot-interesting { position: relative; float: left; width: 400px; margin-right: -440px; margin-left: 0px; left: -480px; }

.hot-interesting > h2, .hot-forum > h2 { margin: -60px 0 40px -22px; }

.hot-interesting-list a, .hot-forum-list a { font: 13px Georgia, "Times New Roman", serif; color: #bb0000; }

.hot-interesting-list dt { font: 11px Arial, Helvetica, sans-serif; color: black; margin-bottom: 2px; }
.hot-interesting-list dd { margin-bottom: 14px; }
.hot-interesting-list dd a { line-height: 1.66; }
.hot-interesting-list dt a { font: 11px Arial, Helvetica, sans-serif; color: black; color: #000; }

.hot-forum > h2 { margin-bottom: 35px; }
.hot-forum .switcher-list { top: 18px; right: 6px; }

/* HOT Forum
--------------------------------*/
.hot-forum-list li { margin-bottom: 11px; }
.hot-forum-list li a { line-height: 1.66; }
.hot-forum-list span { font: 11px Arial, Helvetica, sans-serif; color: black; display: inline-block; }

.b-exude-shadowed-light h2 { margin-bottom: 48px; }

.eshop-reviews, .buy-reports, .customer-helper { position: relative; }

.report-item { margin-bottom: 21px; }
.report-item header { float: left; width: 110px; margin-right: 10px; font: 11px Arial, Helvetica, sans-serif; color: black; line-height: 1.2; }
.report-item footer { float: left; width: 260px; font: 11px Arial, Helvetica, sans-serif; color: black; line-height: 1.2; }

.report-content { float: left; width: 480px; margin-right: 40px; margin-top: -0.35em; font: 13px Georgia, "Times New Roman", serif; color: black; line-height: 1.6em; }

.tags-list { color: #74766C; margin-bottom: 50px; }

/* error pages overwrite
--------------------------------*/
/* PageError Overwrites
--------------------------------*/
.page-error { background: #D1D6C0; }
.page-error .page { position: relative; z-index: 0; min-height: 100%; filter: none; background: none; padding-left: 20px; }
.page-error header { margin-left: -20px; }
.page-error .page:before { display: none; }
.page-error .page:after { display: none; }
.page-error .page { width: 920px; margin: 0 auto; }
.page-error .header-intro { position: relative; width: 920px; height: auto; margin: 65px 0 140px; background: none; }
.page-error .header-intro:before { display: none; }
.page-error .header-intro:after { display: none; }
.page-error h1 { font: 48px Georgia, "Times New Roman", serif; color: black; margin-bottom: 72px; }
.page-error footer { margin-top: 53px; }
.page-error footer nav li { float: left; }
.page-error footer nav li a { display: inline-block; margin: 0 5px; }
.page-error footer nav li:first-child a { margin-left: 0; }
.page-error .intro-content { padding-top: 0; width: 400px; }
.page-error .intro-title { min-height: 91px; }
.page-error .error-404 .error-picture { position: absolute; top: 5px; right: -20px; }
.page-error .error-500 .error-picture { position: absolute; top: 0; right: 170px; }
.page-error .error-500 .header-intro { margin-bottom: 103px; }

/* article
--------------------------------*/
.content header { margin-bottom: 10px; }
.content header time { display: inline-block; margin: 0 25px 20px 0; font: 11px Arial, Helvetica, sans-serif; color: black; }

.article-tags { color: #52544d; margin-bottom: 35px; }
.article-tags a:visited { color: #bb0000; }

.content .article-author { margin-bottom: 0; }

.article-actions { margin-bottom: 35px; }
.article-actions .rating { float: left; height: 25px; margin-right: 50px; position: relative; display: inline-block; font: 18px Arial, Helvetica, sans-serif; color: white; }
.article-actions .rating .btn-counter { width: 26px; height: 23px; font-size: 20px; line-height: 1em; vertical-align: top; }
.article-actions .rating .rating-data { position: relative; line-height: 1.4; display: inline-block; padding: 0 15px; height: 100%; vertical-align: top; background: #4A8F1A; }
.article-actions .rating .voting-notification { font-size: 13px; position: absolute; width: 500px; left: 0; top: 35px; color: #000; }
.article-actions .views { float: left; font: 16px Arial, Helvetica, sans-serif; color: black; }
.article-actions .views span { color: #3f7f12; }
.article-actions .share { float: right; }

.article-discuss { font: 16px Georgia, "Times New Roman", serif; color: black; margin-bottom: 25px; text-align: center; }
.article-discuss a { color: #bb0000 !important; }

.article-navigation .prev-article { float: left; display: block; padding-left: 25px; width: 255px; position: relative; }
.article-navigation .next-article { float: right; display: block; padding-right: 25px; width: 255px; position: relative; }

.comments-list-container { margin-bottom: 50px; }
.comments-list-container ul li { padding-left: 0; }
.comments-list-container li:before { content: ''; display: none; }

.comments-amount { font: 14px Arial, Helvetica, sans-serif; color: #474744; }

/* post comments form
--------------------------------*/
.post-comment-form { margin: 15px 0; }
.post-comment-form .form-line { margin-bottom: 8px; }
.post-comment-form input[type="text"] { width: 175px; }

.post-new-comment { margin-top: 25px; margin-bottom: 18px; }

.comment-item { border-top: 1px solid #9BBF7F; padding-top: 12px; }
.comment-item header { margin-bottom: 10px; }
.comment-item footer { margin-top: 5px; margin-bottom: 12px; }
.comment-item time { font: 11px Arial, Helvetica, sans-serif; color: black; }
.comment-item .comment-user_name { font: 16px Georgia, "Times New Roman", serif; color: #3f7f12; }
.comment-item .comment-user_name:hover { color: #bb0000; }
.comment-item .comment-body p { line-height: 1.6 !important; }
.comment-item .comment-item { padding-left: 30px; }
.comment-item .comment-item .comment-item { padding-left: 30px; }
.comment-item .comment-item .comment-item .comment-item { padding-left: 28px; }
.comment-item .comment-item .comment-item .comment-item .comment-item { padding-left: 25px; }
.comment-item .comment-item .comment-item .comment-item .comment-item .comment-item { padding-left: 22px; }
.comment-item .comment-item .comment-item .comment-item .comment-item .comment-item .comment-item { padding-left: 18px; }

.related-articles h3 { margin-bottom: 25px; }

.related-articles .eq_columns li { margin-bottom: 0; }

/* subscription
--------------------------------*/
/* subscription styles
--------------------------------*/
.b-exude-border.subscription-form { margin-bottom: 40px; }

.subscription-email { float: left; width: 415px; margin-right: 10px; margin-bottom: 5px; }

.subscription-submit { float: left; }
.subscription-submit button { padding-left: 15px; padding-right: 15px; }

.previous-articles { margin-top: 22px; }
.previous-articles dt { margin-bottom: 2px; }
.previous-articles dd li { line-height: 1.366; margin-bottom: 4px; }
.previous-articles dd ul { margin-bottom: 12px; }

/* section
--------------------------------*/
/* section page
--------------------------------*/
.entry .entry-picture, .main-entry .entry-picture { float: left; margin: 0 40px 20px 0; }
.entry .entry-details, .main-entry .entry-details { font: 11px Arial, Helvetica, sans-serif; color: black; }
.entry .entry-details div, .main-entry .entry-details div { margin-bottom: 5px; }
.entry .entry-body, .main-entry .entry-body { clear: left; }
.entry .article-tags, .main-entry .article-tags { margin-bottom: 28px; }
.entry h5, .main-entry h5 { clear: both; margin-bottom: 10px; }

.entry { position: relative; padding-top: 33px; }
.entry:before { content: ''; position: absolute; display: block; top: 0; bottom: auto; left: 50%; right: auto; width: 601px; height: 26px; z-index: -1; background: url("../img/bg_shadows.png") no-repeat 0 -25px; margin-left: -300px; }

.pagination { background: #fff; position: relative; margin-top: 45px; padding: 0 120px; text-align: center; }
.pagination:after { content: ''; position: absolute; display: block; top: 0; bottom: auto; left: 50%; right: auto; width: 599px; height: 17px; z-index: -1; background: url("../img/bg_shadows.png") no-repeat 0 -51px; margin-left: -299.5px; z-index: 1; top: auto; bottom: -17px; }
.pagination .prev-page, .pagination .next-page { position: absolute; top: 50%; margin-top: -8px; }
.pagination .prev-page { left: 10px; }
.pagination .prev-page .ico-prev-article { position: relative; margin-right: 8px; top: 0; }
.pagination .next-page { right: 10px; }
.pagination .next-page .ico-next-article { position: relative; margin-left: 8px; top: 0; }
.pagination .pagination-list { display: inline-block; padding: 0; margin-bottom: 0; }
.pagination .pagination-list li { height: 100%; padding-left: 0; display: inline-block; }
.pagination .pagination-list li a { padding: 6px 5px 6px 6px; display: block; height: 100%; }
.pagination .pagination-list li.active span { padding: 6px 10px; display: block; height: 100%; color: white; background: #4A8F1A; }
.pagination .pagination-list li:before { display: none; }
