/* sass
--------------------------------*/
/* global
--------------------------------*/
/* line 14, scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
input, textarea, keygen, select, button, isindex {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 23, scss/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 24, scss/_reset.scss */
body {
  line-height: 1;
}

/* line 25, scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 26, scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 28, scss/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 29, scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* temporary block for switcher items
--------------------------------*/
/* line 7, scss/_global.scss */
.switcher-item {
  display: none;
}

/* line 11, scss/_global.scss */
.switcher-item[data-sitem="1"] {
  display: block;
}

/* line 15, scss/_global.scss */
.switcher-list {
  position: absolute;
  top: 4px;
  right: 0;
  overflow: hidden;
  padding: 0 0 5px;
}

/* line 23, scss/_global.scss */
.switcher-list li {
  font: 11px Arial, Helvetica, sans-serif;
  color: #bb0000;
  float: left;
  padding: 3px 7px;
  margin: 0 4px;
}

/* line 30, scss/_global.scss */
.switcher-list .active {
  background: #AE0C0C;
  padding: 3px 9px;
  -moz-box-shadow: 0 1px 0px 0px white;
  -webkit-box-shadow: 0 1px 0px 0px white;
  -o-box-shadow: 0 1px 0px 0px white;
  box-shadow: 0 1px 0px 0px white;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
}

/* line 37, scss/_global.scss */
.switcher-list li a {
  text-decoration: none;
  color: #bb0000;
  border-bottom: 1px dashed #bb0000;
  line-height: 1;
}

/* line 44, scss/_global.scss */
.switcher-list .active a {
  color: white;
  border-bottom: none;
}

/* CLEAR FIX*/
/* line 50, scss/_global.scss */
.cf:before, .switcher:before, .eq_columns:before, .breadcrumbs:before, .page-header:before, .page-content:before, .page-footer:before, .header-search-section:before, .footer-nav .subtitles:before, .report-item:before, .cf:after, .switcher:after, .eq_columns:after, .breadcrumbs:after, .page-header:after, .page-content:after, .page-footer:after, .header-search-section:after, .footer-nav .subtitles:after, .report-item:after {
  content: "";
  display: table;
}

/* line 51, scss/_global.scss */
.cf:after, .switcher:after, .eq_columns:after, .breadcrumbs:after, .page-header:after, .page-content:after, .page-footer:after, .header-search-section:after, .footer-nav .subtitles:after, .report-item:after {
  clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
/* line 53, scss/_global.scss */
.cf, .switcher, .eq_columns, .breadcrumbs, .page-header, .page-content, .page-footer, .header-search-section, .footer-nav .subtitles, .report-item {
  zoom: 1;
}

/* helpers
--------------------------------*/
/* line 57, scss/_global.scss */
.g-pointer {
  cursor: pointer;
}

/* line 61, scss/_global.scss */
.b-divider-dotted {
  border: 0;
  background: none;
  margin: 25px 3px 40px 2px;
  border-bottom: 3px dotted #A4C78C;
}

/* line 68, scss/_global.scss */
.btn {
  display: inline-block;
  border: 1px solid #646464;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -o-border-radius: 1px;
  -ms-border-radius: 1px;
  -khtml-border-radius: 1px;
  border-radius: 1px;
  color: #000 !important;
  background-color: white;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFE2E2E2');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e2e2e2));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #e2e2e2 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #e2e2e2 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #e2e2e2 100%);
  background-image: -ms-linear-gradient(top, #ffffff 0%, #e2e2e2 100%);
  background-image: linear-gradient(top, #ffffff 0%, #e2e2e2 100%);
  text-align: center;
  text-decoration: none;
}

/* blocks
--------------------------------*/
/* line 82, scss/_global.scss */
.b-exude-border {
  position: relative;
  padding: 15px 20px;
  border: 3px dotted #4A8F19;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 90, scss/_global.scss */
.b-exude-rounded_sh {
  position: relative;
  padding: 0 20px;
  background: #EDEFE4;
  border-top: 1px solid #999D89;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 25px !important;
}

/* line 99, scss/_global.scss */
.b-exude-rounded_sh:after {
  background: url("../img/bg_exude_rounded_shadow.png");
  content: '';
  position: absolute;
  display: block;
  top: auto;
  bottom: -15px;
  left: 0;
  right: 50%;
  width: 100%;
  height: 15px;
  z-index: -1;
  margin-left: -427px/2;
}

/* shadowed light
--------------------------------*/
/* line 108, scss/_global.scss */
.b-exude-shadowed-light {
  position: relative;
  margin: 0 -40px;
  padding: 0 40px;
  background: white;
  padding-top: 32px;
  margin-bottom: 45px;
}
/* line 116, scss/_global.scss */
.b-exude-shadowed-light .switcher-list {
  top: 10px;
}

/* line 121, scss/_global.scss */
.b-exude-shadowed-light:before {
  background: url("../img/bg_exude_shadowed_light.png");
  content: '';
  position: absolute;
  display: block;
  top: 0;
  bottom: auto;
  left: 0;
  right: auto;
  width: 100%;
  height: 25px;
  z-index: -1;
  z-index: 1;
}

/* line 127, scss/_global.scss */
.b-exude-shadowed-light:after {
  background: url("../img/bg_exude_shadowed_light.png");
  content: '';
  position: absolute;
  display: block;
  top: auto;
  bottom: -25px;
  left: 0;
  right: auto;
  width: 100%;
  height: 25px;
  z-index: -1;
  z-index: 1;
}

/* line 133, scss/_global.scss */
.b-exude-light {
  position: relative;
  margin-bottom: 25px;
  padding: 25px 10px;
  background: #fff;
  line-height: 1.7 !important;
}
/* line 141, scss/_global.scss */
.b-exude-light:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  bottom: auto;
  left: 0;
  right: auto;
  width: 100%;
  height: 17px;
  z-index: -1;
  background: url("../img/bg_incut_shadow.png");
  z-index: 1;
}

/* columns blocks
--------------------------------*/
/* line 153, scss/_global.scss */
.eq_columns li {
  float: left;
  margin-bottom: 40px;
}
/* line 158, scss/_global.scss */
.eq_columns .title {
  margin-bottom: 15px;
  line-height: 1.6;
}
/* line 163, scss/_global.scss */
.eq_columns .details {
  font: 11px Arial, Helvetica, sans-serif;
  color: black;
}
/* line 167, scss/_global.scss */
.eq_columns figure {
  margin-bottom: 15px;
}
/* line 170, scss/_global.scss */
.eq_columns figure img {
  -moz-box-shadow: 0 0 5px 3px #c9ceb8;
  -webkit-box-shadow: 0 0 5px 3px #c9ceb8;
  -o-box-shadow: 0 0 5px 3px #c9ceb8;
  box-shadow: 0 0 5px 3px #c9ceb8;
}

/* line 177, scss/_global.scss */
.eq_columns--three {
  margin: 0 -12px;
}
/* line 180, scss/_global.scss */
.eq_columns--three li {
  width: 182px;
  margin-left: 12px;
  margin-right: 12px;
}

/* line 187, scss/_global.scss */
.eq_columns--four {
  margin: 0 -10px;
}
/* line 190, scss/_global.scss */
.eq_columns--four li {
  width: 210px;
  margin-left: 10px;
  margin-right: 10px;
}
/* line 196, scss/_global.scss */
.eq_columns--four li:nth-child(4n - 2) {
  width: 210px;
  margin-right: 30px;
}

/* line 202, scss/_global.scss */
.eq_columns--six {
  margin: 0 -20px;
}
/* line 205, scss/_global.scss */
.eq_columns--six li {
  width: 120px;
  margin-left: 20px;
  margin-right: 20px;
}

/* breadcrumbs
--------------------------------*/
/* line 215, scss/_global.scss */
.breadcrumbs {
  margin-bottom: 15px;
}

/* line 220, scss/_global.scss */
.breadcrumbs li {
  float: left;
}

/* line 224, scss/_global.scss */
.breadcrumbs li a, .breadcrumbs li span {
  margin: 0 5px;
}

/* line 228, scss/_global.scss */
.breadcrumbs li:first-child a {
  margin-left: 0;
}

/* line 1, scss/_typography.scss */
body {
  font: 13px Arial, Helvetica, sans-serif;
  color: black;
  line-height: 1.5;
}

/* line 6, scss/_typography.scss */
input::-webkit-input-placeholder {
  color: #999 !important;
}

/* line 7, scss/_typography.scss */
input:-moz-placeholder {
  color: #999 !important;
}

/* line 9, scss/_typography.scss */
strong, b {
  font-weight: bold;
}

/* line 13, scss/_typography.scss */
i {
  font-style: italic;
}

/* line 17, scss/_typography.scss */
.content {
  line-height: 1.6;
}

/* line 21, scss/_typography.scss */
.content p {
  margin-bottom: 20px;
  line-height: 1.6;
}

/* links
--------------------------------*/
/* line 28, scss/_typography.scss */
a {
  color: #bb0404;
}

/* line 32, scss/_typography.scss */
.page-sidebar a:visited, .content a:visited {
  color: #620b9f;
}

/* line 36, scss/_typography.scss */
.page .content a:hover, .page .page-sidebar a:hover, a:hover {
  color: #356812;
}

/* headers
--------------------------------*/
/* line 42, scss/_typography.scss */
h1, h2, h3 {
  line-height: 1.6;
}

/* line 46, scss/_typography.scss */
h1 {
  font: 32px Georgia, "Times New Roman", serif;
  color: black;
  margin-bottom: 16px;
}

/* line 51, scss/_typography.scss */
h2 {
  font: 28px Georgia, "Times New Roman", serif;
  color: black;
  margin: 0 0 15px 0;
}

/* line 56, scss/_typography.scss */
h3 {
  font: 24px Georgia, "Times New Roman", serif;
  color: black;
  margin-bottom: 15px;
}

/* line 61, scss/_typography.scss */
h2 a, h3 a {
  color: #000;
}

/* lists
--------------------------------*/
/* line 68, scss/_typography.scss */
.content ul, .content ol {
  margin-bottom: 15px;
}

/* line 72, scss/_typography.scss */
.content ul p, .content ol p {
  margin-bottom: 0;
}

/* unordered
--------------------------------*/
/* line 78, scss/_typography.scss */
.content {
  /* ordered
  --------------------------------*/
}
/* line 81, scss/_typography.scss */
.content ul ul {
  margin-bottom: 0;
}
/* line 85, scss/_typography.scss */
.content ul li {
  position: relative;
  padding-left: 20px;
}
/* line 90, scss/_typography.scss */
.content ul li:before {
  position: absolute;
  content: "\2014";
  font-size: 20px;
  line-height: 1;
  width: 0.7em;
  overflow: hidden;
  left: 0;
  top: -1px;
  color: #3F7F12;
}
/* line 105, scss/_typography.scss */
.content ol {
  margin-left: 20px;
  list-style: decimal;
}
/* line 109, scss/_typography.scss */
.content ol li {
  font-weight: bold;
  color: #3f7f12;
}
/* line 114, scss/_typography.scss */
.content ol li p {
  font-weight: normal;
  color: #000;
}

/* global page styles
--------------------------------*/
/* Base layout
--------------------------------*/
/* line 3, scss/_layout.scss */
html, body {
  height: 100%;
}

/* line 7, scss/_layout.scss */
.page {
  position: relative;
  z-index: 0;
  min-height: 100%;
  background-color: #EDEFE4;
}

/* line 14, scss/_layout.scss */
.page:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  bottom: auto;
  left: auto;
  right: auto;
  width: 100%;
  height: 66px;
  z-index: -1;
  background: #880606;
}

/* line 19, scss/_layout.scss */
.page:after {
  content: '';
  position: absolute;
  display: block;
  top: 66px;
  bottom: auto;
  left: 0;
  right: auto;
  width: 100%;
  height: 1600px;
  z-index: -1;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFD1D6C1', endColorstr='#FFEDEFE4');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d1d6c1), color-stop(100%, #edefe4));
  background-image: -webkit-linear-gradient(top, #d1d6c1 0%, #edefe4 100%);
  background-image: -moz-linear-gradient(top, #d1d6c1 0%, #edefe4 100%);
  background-image: -o-linear-gradient(top, #d1d6c1 0%, #edefe4 100%);
  background-image: -ms-linear-gradient(top, #d1d6c1 0%, #edefe4 100%);
  background-image: linear-gradient(top, #d1d6c1 0%, #edefe4 100%);
}

/* Main page layout blocks
--------------------------------*/
/* line 28, scss/_layout.scss */
.page-header, .page-content, .page-footer {
  position: relative;
  z-index: 10;
}

/* line 34, scss/_layout.scss */
.page-header, .page-content {
  width: 920px;
  margin: 0 auto;
}

/* line 39, scss/_layout.scss */
.page-content-column {
  float: left;
  width: 600px;
}

/* line 44, scss/_layout.scss */
.page-sidebar {
  float: right;
  width: 280px;
}

/* line 50, scss/_layout.scss */
.page-footer {
  border-top: 1px solid #B3B7A4;
  background: #D1D6C1;
  margin-top: 45px;
}
/* line 55, scss/_layout.scss */
.page-footer:after {
  content: '';
  position: absolute;
  display: block;
  top: auto;
  bottom: 0;
  left: auto;
  right: auto;
  width: 100%;
  height: 70px;
  z-index: -1;
  background: #880606;
}

/* line 61, scss/_layout.scss */
.page-footer-wrapper {
  position: relative;
  width: 920px;
  margin: 0 auto;
  padding-top: 20px;
}
/* line 67, scss/_layout.scss */
.page-footer-wrapper:before {
  content: '';
  position: absolute;
  display: block;
  top: -1px;
  bottom: auto;
  left: 50%;
  right: auto;
  width: 100%;
  height: 20px;
  z-index: -1;
  background: url("../img/bg_exude_shadowed_light.png");
  margin-left: -458.5px;
}

/* articles/ column-pages
--------------------------------*/
/* line 76, scss/_layout.scss */
.page-column {
  float: left;
  width: 600px;
}

/* line 81, scss/_layout.scss */
.page-sidebar {
  float: right;
  width: 280px;
}

/* header nav
--------------------------------*/
/* line 3, scss/_header.scss */
.header-nav {
  text-align: justify;
  height: 58px;
}
/* line 8, scss/_header.scss */
.header-nav li {
  display: inline-block;
  text-align: left;
  margin-top: 20px;
  font: 12px Arial, Helvetica, sans-serif;
  color: white;
}
/* line 15, scss/_header.scss */
.header-nav a {
  color: white;
}
/* line 17, scss/_header.scss */
.header-nav a:hover {
  color: #F2E121;
}
/* line 22, scss/_header.scss */
.header-nav .active {
  position: relative;
  color: #f2e123;
}
/* line 26, scss/_header.scss */
.header-nav .active:before {
  content: '';
  position: absolute;
  display: block;
  top: -20px;
  bottom: auto;
  left: -10px;
  right: auto;
  width: 100%;
  height: 60px;
  z-index: -1;
  padding: 0 10px;
  background-color: #D00E0E;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFD00E0E', endColorstr='#FF880A0A');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d00e0e), color-stop(100%, #880a0a));
  background-image: -webkit-linear-gradient(top, #d00e0e 0%, #880a0a 100%);
  background-image: -moz-linear-gradient(top, #d00e0e 0%, #880a0a 100%);
  background-image: -o-linear-gradient(top, #d00e0e 0%, #880a0a 100%);
  background-image: -ms-linear-gradient(top, #d00e0e 0%, #880a0a 100%);
  background-image: linear-gradient(top, #d00e0e 0%, #880a0a 100%);
}

/* line 37, scss/_header.scss */
.nav-item-sizer {
  width: 100%;
}

/* header intro
--------------------------------*/
/* line 44, scss/_header.scss */
.header-intro {
  position: relative;
  width: 920px;
  height: 200px;
  background: url("../img/bg_header_intro.jpg");
  margin-bottom: 31px;
}

/* line 52, scss/_header.scss */
.header-intro:before {
  content: '';
  position: absolute;
  display: block;
  top: auto;
  bottom: -44px;
  left: 50%;
  right: auto;
  width: 882px;
  height: 44px;
  z-index: -1;
  margin-left: -441px;
  background: url("../img/bg_header_intro_shadow.png");
}

/* line 59, scss/_header.scss */
.header-intro:after {
  content: '';
  position: absolute;
  display: block;
  top: 25px;
  bottom: auto;
  left: auto;
  right: -40px;
  width: 104px;
  height: 152px;
  z-index: -1;
  background: url("../img/bg_header_intro_card.png");
  z-index: 1;
}

/* header title
--------------------------------*/
/* line 67, scss/_header.scss */
.intro-content {
  width: 300px;
  margin-left: 20px;
  padding-top: 24px;
}

/* line 73, scss/_header.scss */
.intro-title {
  font: 26px Georgia, "Times New Roman", serif;
  color: #204804;
  text-shadow: 0 1px 0px #fff;
  margin-bottom: 26px;
  line-height: 1.2;
}

/* line 78, scss/_header.scss */
.intro-home {
  text-decoration: none;
  font: 18px Arial, Helvetica, sans-serif;
  color: #2a2a2a;
}

/* header search section
--------------------------------*/
/* line 85, scss/_header.scss */
.header-search-section {
  margin-bottom: 30px;
  height: 87px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 92, scss/_header.scss */
.search {
  float: left;
  width: 600px;
  height: 100%;
  vertical-align: top;
  padding: 25px 20px;
  background-color: #77c43f;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF77C43F', endColorstr='#FF417E15');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #77c43f), color-stop(100%, #417e15));
  background-image: -webkit-linear-gradient(top, #77c43f 0%, #417e15 100%);
  background-image: -moz-linear-gradient(top, #77c43f 0%, #417e15 100%);
  background-image: -o-linear-gradient(top, #77c43f 0%, #417e15 100%);
  background-image: -ms-linear-gradient(top, #77c43f 0%, #417e15 100%);
  background-image: linear-gradient(top, #77c43f 0%, #417e15 100%);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 107, scss/_header.scss */
.search-fullsize {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 112, scss/_header.scss */
.search-field-container {
  margin-right: 100px;
}

/* line 116, scss/_header.scss */
.search-field-container--wcategory {
  margin-top: -8px;
}

/* line 120, scss/_header.scss */
.search-field {
  display: block;
}

/* line 124, scss/_header.scss */
.search-field input {
  font: 18px Arial, Helvetica, sans-serif;
  color: black;
  display: block;
  width: 100%;
  padding: 5px 10px;
  border-width: 1px;
  border-style: solid;
  border-top-color: #636363;
  border-right-color: #B0AFAF;
  border-bottom-color: #E5E5E5;
  border-left-color: #B0AFAF;
  background-color: #e0e0e0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFE0E0E0', endColorstr='#FFFFFFFF');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e0e0e0), color-stop(10%, #ffffff));
  background-image: -webkit-linear-gradient(top, #e0e0e0 0%, #ffffff 10%);
  background-image: -moz-linear-gradient(top, #e0e0e0 0%, #ffffff 10%);
  background-image: -o-linear-gradient(top, #e0e0e0 0%, #ffffff 10%);
  background-image: -ms-linear-gradient(top, #e0e0e0 0%, #ffffff 10%);
  background-image: linear-gradient(top, #e0e0e0 0%, #ffffff 10%);
}

/* line 142, scss/_header.scss */
.search-filter {
  display: block;
  color: #fff;
  margin-top: 8px;
  margin-bottom: -12px;
}

/* line 149, scss/_header.scss */
.search-submit {
  float: right;
  width: 80px;
  vertical-align: top;
}

/* line 155, scss/_header.scss */
.search-submit button {
  display: block;
  border: 1px solid #636363;
  padding: 7px 15px 7px 15px;
  min-height: 33px;
  vertical-align: top;
  background-color: #ffffff;
  font: 15px Arial, Helvetica, sans-serif;
  color: black;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -o-border-radius: 1px;
  -ms-border-radius: 1px;
  -khtml-border-radius: 1px;
  border-radius: 1px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFD7D7D7');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #d7d7d7));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #d7d7d7 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #d7d7d7 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #d7d7d7 100%);
  background-image: -ms-linear-gradient(top, #ffffff 0%, #d7d7d7 100%);
  background-image: linear-gradient(top, #ffffff 0%, #d7d7d7 100%);
}

/* line 169, scss/_header.scss */
.header-search-section .subscription {
  float: right;
  width: 280px;
  padding: 11px 10px 0 26px;
  height: 100%;
}
/* line 175, scss/_header.scss */
.header-search-section .subscription .subscription-title {
  font: 16px Georgia, "Times New Roman", serif;
  color: black;
  margin-bottom: 6px;
}
/* line 180, scss/_header.scss */
.header-search-section .subscription .subscription-link {
  font: 12px Arial, Helvetica, sans-serif;
  color: black;
}

/* line 186, scss/_header.scss */
.promo {
  clear: both;
  margin-bottom: 30px;
  padding: 15px 0 12px 0;
  background: #FFF;
  border-width: 1px;
  border-style: solid;
  border-top-color: #81886B;
  border-right-color: #B3B7A7;
  border-bottom-color: #D9DBD3;
  border-left-color: #B3B7A7;
  -moz-box-shadow: inset -1px 2px 3px 0px #b3b7a7;
  -webkit-box-shadow: inset -1px 2px 3px 0px #b3b7a7;
  -o-box-shadow: inset -1px 2px 3px 0px #b3b7a7;
  box-shadow: inset -1px 2px 3px 0px #b3b7a7;
  text-align: center;
}

/* intro showcase
--------------------------------*/
/* line 204, scss/_header.scss */
.intro-showcase {
  position: absolute;
  top: 0;
  right: 88px;
  width: 480px;
}

/* line 211, scss/_header.scss */
.intro-showcase .scitem {
  float: left;
  width: 120px;
  height: 80px;
  margin-top: 15px;
  outline: 1px solid blue;
}

/* line 1, scss/_footer.scss */
.footer-nav {
  margin-top: 2px;
  margin-bottom: 30px;
}
/* line 5, scss/_footer.scss */
.footer-nav .eq_columns li {
  margin-bottom: 0;
}
/* line 9, scss/_footer.scss */
.footer-nav .eq_columns--three {
  /*margin-bottom:6px;*/
}
/* line 13, scss/_footer.scss */
.footer-nav .eq_columns--six {
  margin-bottom: 30px;
  font: 13px Georgia, "Times New Roman", serif;
  color: black;
}
/* line 18, scss/_footer.scss */
.footer-nav .title {
  margin-bottom: 6px;
}
/* line 22, scss/_footer.scss */
.footer-nav .title--exude {
  margin-bottom: 23px;
}
/* line 26, scss/_footer.scss */
.footer-nav .title a {
  font: 12px Georgia, "Times New Roman", serif;
  color: #bb0000;
}
/* line 30, scss/_footer.scss */
.footer-nav .subtitles {
  margin-bottom: 20px;
}
/* line 35, scss/_footer.scss */
.footer-nav .subtitles a {
  font: 11px Arial, Helvetica, sans-serif;
  color: #2e2f2a;
  float: left;
  clear: left;
  margin-bottom: 5px;
  line-height: 1.4;
  color: #2E2F2A !important;
}

/* copyright
--------------------------------*/
/* line 48, scss/_footer.scss */
.counters {
  width: 640px;
  height: 70px;
}
/* line 52, scss/_footer.scss */
.counters > div {
  margin-top: 19px;
  float: left;
  margin-left: 30px;
}
/* line 58, scss/_footer.scss */
.counters > div:first-child {
  margin-left: 0;
}

/* line 64, scss/_footer.scss */
.footnote {
  position: absolute;
  right: 0px;
  bottom: 17px;
  width: 280px;
}

/* line 70, scss/_footer.scss */
.contact-us {
  color: #fff;
  margin-bottom: 9px;
}

/* line 75, scss/_footer.scss */
.contact-us a {
  color: #fff;
}

/* line 79, scss/_footer.scss */
.copy {
  font: 11px Arial, Helvetica, sans-serif;
  color: #cf9d9d;
}

/* line 1, scss/_sidebar.scss */
.page-sidebar {
  padding-top: 14px;
}
/* line 4, scss/_sidebar.scss */
.page-sidebar h3 {
  font: 20px Georgia, "Times New Roman", serif;
  color: black;
  margin-bottom: 19px;
}
/* line 9, scss/_sidebar.scss */
.page-sidebar .b-exude-border {
  padding-bottom: 0;
  margin-bottom: 40px;
}
/* line 14, scss/_sidebar.scss */
.page-sidebar .b-exude-border .resources-list {
  margin-bottom: 0;
}
/* line 18, scss/_sidebar.scss */
.page-sidebar .resources-list {
  margin-bottom: 40px;
}
/* line 21, scss/_sidebar.scss */
.page-sidebar .resources-list li {
  font: 12px Georgia, "Times New Roman", serif;
  color: black;
  margin-bottom: 11px;
  line-height: 1.8;
}
/* line 27, scss/_sidebar.scss */
.page-sidebar .resources-list .details {
  font: 11px Arial, Helvetica, sans-serif;
  color: black;
  display: block;
  margin-top: 4px;
}
/* line 34, scss/_sidebar.scss */
.page-sidebar .resources-list-inline .details {
  display: inline-block;
}
/* line 38, scss/_sidebar.scss */
.page-sidebar .sidebar-promo {
  margin-bottom: 40px;
}
/* line 42, scss/_sidebar.scss */
.page-sidebar .switcher {
  padding: 17px 0;
}
/* line 46, scss/_sidebar.scss */
.page-sidebar .switcher-list {
  top: 11px;
}

/* line 1, scss/_icons.scss */
.ico {
  position: relative;
  display: inline-block;
  background: url("../img/icons.png");
}

/* line 7, scss/_icons.scss */
.ico-print {
  top: 2px;
  width: 15px;
  height: 11px;
  margin-right: 5px;
  background: url("../img/tmp_ico_ico-print.png") no-repeat;
}

/* line 15, scss/_icons.scss */
.ico-discuss {
  top: 2px;
  width: 24px;
  height: 16px;
  margin-right: 5px;
  background: url("../img/tmp_ico_ico-discuss.png") no-repeat;
}

/* line 23, scss/_icons.scss */
.article-navigation .ico {
  position: absolute;
}

/* line 27, scss/_icons.scss */
.ico-prev-article {
  top: .6em;
  left: 0;
  width: 16px;
  height: 6px;
  background: url("../img/tmp_ico_ico-prev-article.png") no-repeat;
}

/* line 35, scss/_icons.scss */
.ico-next-article {
  top: .6em;
  right: 0;
  width: 16px;
  height: 6px;
  background: url("../img/tmp_ico_ico-next-article.png") no-repeat;
}

/* line 1, scss/_ui.scss */
input[type="text"], textarea {
  font: 14px Arial, Helvetica, sans-serif;
  color: black;
  line-height: 1.6;
  padding: 2px 5px;
  border-width: 1px;
  border-style: solid;
  border-top-color: #646464;
  border-right-color: #B0AFAF;
  border-bottom-color: #E5E5E5;
  border-left-color: #B0AFAF;
  -moz-box-shadow: inset -1px 1px 2px 1px #e0e0e0;
  -webkit-box-shadow: inset -1px 1px 2px 1px #e0e0e0;
  -o-box-shadow: inset -1px 1px 2px 1px #e0e0e0;
  box-shadow: inset -1px 1px 2px 1px #e0e0e0;
}

/* line 14, scss/_ui.scss */
input[type="text"] {
  padding: 2px 5px;
}

/* page style overrides
--------------------------------*/
/* index-page
--------------------------------*/
/* customized headings
--------------------------------*/
/* line 4, scss/_index_page/_index_page.scss */
.page-index h2 {
  font: 26px Georgia, "Times New Roman", serif;
  color: black;
  margin-bottom: 40px;
}
/* line 9, scss/_index_page/_index_page.scss */
.page-index h3 {
  font: 20px Georgia, "Times New Roman", serif;
  color: black;
  margin-bottom: 16px;
}
/* line 14, scss/_index_page/_index_page.scss */
.page-index .promo {
  margin-bottom: 10px;
}

/* line 19, scss/_index_page/_index_page.scss */
.hot-offers {
  margin-top: 35px;
}

/* line 23, scss/_index_page/_index_page.scss */
.customer-helper h3 {
  margin-bottom: 35px;
}

/* line 4, scss/_index_page/_equal-height.scss */
.equal-height-wrapper {
  position: relative;
  width: 400px;
  left: 0px;
  margin: 60px 0 10px;
}
/* line 10, scss/_index_page/_equal-height.scss */
.equal-height-wrapper .switcher-item {
  margin-top: 35px;
}

/* line 15, scss/_index_page/_equal-height.scss */
.equal-height-wrapper-inner {
  width: 440px;
  position: relative;
  left: 100%;
  margin: 0px -100% 0px 60px;
}

/* HOT Interesting
--------------------------------*/
/* line 24, scss/_index_page/_equal-height.scss */
.hot-interesting {
  position: relative;
  float: left;
  width: 400px;
  margin-right: -440px;
  margin-left: 0px;
  left: -480px;
}
/* line 32, scss/_index_page/_equal-height.scss */
.hot-interesting .switcher-list {
  top: 3px;
}

/* line 37, scss/_index_page/_equal-height.scss */
.hot-interesting > h2, .hot-forum > h2 {
  margin: -60px 0 40px -22px;
}

/* line 41, scss/_index_page/_equal-height.scss */
.hot-interesting-list a, .hot-forum-list a {
  font: 13px Georgia, "Times New Roman", serif;
  color: #bb0000;
}

/* line 46, scss/_index_page/_equal-height.scss */
.hot-interesting-list dt {
  font: 11px Arial, Helvetica, sans-serif;
  color: black;
  margin-bottom: 2px;
}
/* line 51, scss/_index_page/_equal-height.scss */
.hot-interesting-list dd {
  margin-bottom: 15px;
}
/* line 55, scss/_index_page/_equal-height.scss */
.hot-interesting-list dt a {
  color: #000;
}

/* line 61, scss/_index_page/_equal-height.scss */
.hot-forum > h2 {
  margin-bottom: 35px;
}
/* line 65, scss/_index_page/_equal-height.scss */
.hot-forum .switcher-list {
  top: 18px;
  right: 6px;
}

/* HOT Forum
--------------------------------*/
/* line 74, scss/_index_page/_equal-height.scss */
.hot-forum-list li {
  margin-bottom: 11px;
}
/* line 78, scss/_index_page/_equal-height.scss */
.hot-forum-list span {
  font: 11px Arial, Helvetica, sans-serif;
  color: black;
  display: inline-block;
}

/* line 2, scss/_index_page/_b-exude-shadowed-light.scss */
.b-exude-shadowed-light h2 {
  margin-bottom: 48px;
}

/* line 7, scss/_index_page/_b-exude-shadowed-light.scss */
.eshop-reviews, .buy-reports, .customer-helper {
  position: relative;
}

/* line 11, scss/_index_page/_b-exude-shadowed-light.scss */
.report-item {
  margin-bottom: 20px;
}
/* line 15, scss/_index_page/_b-exude-shadowed-light.scss */
.report-item header {
  float: left;
  width: 110px;
  margin-right: 10px;
  font: 11px Arial, Helvetica, sans-serif;
  color: black;
  line-height: 1.2;
}
/* line 23, scss/_index_page/_b-exude-shadowed-light.scss */
.report-item footer {
  float: left;
  width: 260px;
  font: 11px Arial, Helvetica, sans-serif;
  color: black;
  line-height: 1.2;
}

/* line 33, scss/_index_page/_b-exude-shadowed-light.scss */
.report-content {
  float: left;
  width: 480px;
  margin-right: 40px;
  margin-top: -0.35em;
  line-height: 1.6em;
}

/* line 1, scss/_index_page/_tags-list.scss */
.tags-list {
  color: #74766C;
  margin-bottom: 50px;
}

/* error pages overwrite
--------------------------------*/
/* PageError Overwrites
--------------------------------*/
/* line 3, scss/_error_page/_error_page.scss */
.page-error {
  background: #D1D6C0;
}
/* line 6, scss/_error_page/_error_page.scss */
.page-error .page {
  position: relative;
  z-index: 0;
  min-height: 100%;
  filter: none;
  background: none;
  padding-left: 20px;
}
/* line 15, scss/_error_page/_error_page.scss */
.page-error header {
  margin-left: -20px;
}
/* line 19, scss/_error_page/_error_page.scss */
.page-error .page:before {
  display: none;
}
/* line 23, scss/_error_page/_error_page.scss */
.page-error .page {
  width: 920px;
  margin: 0 auto;
}
/* line 28, scss/_error_page/_error_page.scss */
.page-error .header-intro {
  position: relative;
  width: 920px;
  height: auto;
  margin: 65px 0 140px;
  background: none;
}
/* line 36, scss/_error_page/_error_page.scss */
.page-error .header-intro:before {
  display: none;
}
/* line 40, scss/_error_page/_error_page.scss */
.page-error .header-intro:after {
  display: none;
}
/* line 44, scss/_error_page/_error_page.scss */
.page-error h1 {
  font: 48px Georgia, "Times New Roman", serif;
  color: black;
  margin-bottom: 70px;
}
/* line 49, scss/_error_page/_error_page.scss */
.page-error footer {
  margin-top: 60px;
}
/* line 53, scss/_error_page/_error_page.scss */
.page-error footer nav li {
  float: left;
}
/* line 57, scss/_error_page/_error_page.scss */
.page-error footer nav li a {
  display: inline-block;
  margin: 0 10px;
}
/* line 62, scss/_error_page/_error_page.scss */
.page-error footer nav li:first-child a {
  margin-left: 0;
}
/* line 66, scss/_error_page/_error_page.scss */
.page-error .intro-content {
  padding-top: 0;
  width: 400px;
}
/* line 71, scss/_error_page/_error_page.scss */
.page-error .intro-title {
  min-height: 95px;
}
/* line 75, scss/_error_page/_error_page.scss */
.page-error .error-404 .error-picture {
  position: absolute;
  top: 5px;
  right: -20px;
}
/* line 82, scss/_error_page/_error_page.scss */
.page-error .error-500 .error-picture {
  position: absolute;
  top: 0;
  right: 170px;
}
/* line 88, scss/_error_page/_error_page.scss */
.page-error .error-500 .header-intro {
  margin-bottom: 100px;
}

/* article
--------------------------------*/
/* line 2, scss/_article_page/_article_page.scss */
.content header {
  margin-bottom: 10px;
}
/* line 6, scss/_article_page/_article_page.scss */
.content header time {
  display: inline-block;
  margin: 0 25px 20px 0;
  font: 11px Arial, Helvetica, sans-serif;
  color: black;
}

/* line 17, scss/_article_page/_article_page.scss */
.article-tags {
  color: #52544d;
  margin-bottom: 35px;
}

/* line 22, scss/_article_page/_article_page.scss */
.content .article-author {
  margin-bottom: 0;
}

/* line 26, scss/_article_page/_article_page.scss */
.article-actions {
  margin-bottom: 35px;
}
/* line 29, scss/_article_page/_article_page.scss */
.article-actions .rating {
  float: left;
  margin-right: 50px;
  position: relative;
  display: inline-block;
  background: #4A8F1A;
  font: 18px Arial, Helvetica, sans-serif;
  color: white;
}
/* line 37, scss/_article_page/_article_page.scss */
.article-actions .rating .btn-counter {
  width: 28px;
  height: 23px;
}
/* line 42, scss/_article_page/_article_page.scss */
.article-actions .rating .rating-data {
  display: inline-block;
  margin: 0 15px;
}
/* line 49, scss/_article_page/_article_page.scss */
.article-actions .views {
  float: left;
  font: 16px Arial, Helvetica, sans-serif;
  color: black;
}
/* line 53, scss/_article_page/_article_page.scss */
.article-actions .views span {
  color: #3f7f12;
}
/* line 58, scss/_article_page/_article_page.scss */
.article-actions .share {
  float: right;
}

/* line 63, scss/_article_page/_article_page.scss */
.article-discuss {
  font: 16px Georgia, "Times New Roman", serif;
  color: black;
  margin-bottom: 25px;
  text-align: center;
}
/* line 67, scss/_article_page/_article_page.scss */
.article-discuss a {
  color: #bb0000 !important;
}

/* line 76, scss/_article_page/_article_page.scss */
.article-navigation .prev-article {
  float: left;
  display: block;
  padding-left: 25px;
  width: 255px;
  position: relative;
}
/* line 85, scss/_article_page/_article_page.scss */
.article-navigation .next-article {
  float: right;
  display: block;
  padding-right: 25px;
  width: 255px;
  position: relative;
}

/* line 95, scss/_article_page/_article_page.scss */
.comments-amount {
  font: 14px Arial, Helvetica, sans-serif;
  color: black;
}

/* post comments form
--------------------------------*/
/* line 102, scss/_article_page/_article_page.scss */
.post-comment-form .form-line {
  margin-bottom: 10px;
}

/* addon styles (different css for joomla editor implementation)
--------------------------------*/
/* line 1, scss/addon.scss */
.picture {
  margin-bottom: 15px;
}
/* line 4, scss/addon.scss */
.picture img {
  -moz-box-shadow: 0 0 6px 5px #c8cdb6;
  -webkit-box-shadow: 0 0 6px 5px #c8cdb6;
  -o-box-shadow: 0 0 6px 5px #c8cdb6;
  box-shadow: 0 0 6px 5px #c8cdb6;
}

/* line 9, scss/addon.scss */
.picture-centered {
  text-align: center;
}

/* line 13, scss/addon.scss */
.accent {
  font: 18px Arial, Helvetica, sans-serif;
  color: black;
  line-height: 1.5 !important;
}

/* line 18, scss/addon.scss */
.note-text, .note {
  color: #5F605B;
}

/* line 22, scss/addon.scss */
.note {
  padding-left: 120px;
}

/* line 27, scss/addon.scss */
.caption {
  font-style: italic;
  color: #346a0e;
  text-align: center;
}

/* line 33, scss/addon.scss */
.incut {
  font: 12px Arial, Helvetica, sans-serif;
  color: black;
  position: relative;
  padding: 15px 60px;
  background: #fff;
  line-height: 1.7 !important;
  border-bottom: 1px solid #BEBFB6;
}
/* line 42, scss/addon.scss */
.incut:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  bottom: auto;
  left: 0;
  right: auto;
  width: 100%;
  height: 17px;
  z-index: -1;
  background: url("../img/bg_incut_shadow.png");
  z-index: 1;
}

/* line 49, scss/addon.scss */
.data-table {
  width: 100%;
  margin-bottom: 25px;
  border-top: 2px solid #767772;
  border-bottom: 2px solid #767772;
}
/* line 55, scss/addon.scss */
.data-table td {
  padding: 10px 10px;
}
/* line 59, scss/addon.scss */
.data-table .head td {
  padding: 5px 10px;
  font-weight: bold;
  color: #3f7f12;
  background: #fff;
  border-bottom: 1px solid #767772;
}
/* line 67, scss/addon.scss */
.data-table .bdt {
  border-top: 1px solid #767772;
}
