body {
	font-size: 12pt;
}

*, a {
	background: #fff !important;
	filter: none;
	color: #000;
}

.content * {
	color: #000 !important;
}

*:before, *:after {
	display: none !important;
}

/**
* removing all navigation et
*/
.header-nav,
.header-search-section,
.promo,
.lnk-print,
.page-sidebar,
.article-tags,
.article-actions,
.article-discuss,
.intro-showcase {
	display: none;
}

/* removing article additional blocks except content
--------------------------------*/
.page-column > * {
	display: none;
}

.page-column .content {
	display: block;
}


/* global
--------------------------------*/
.picture img {
	-moz-box-shadow: 0 0 0 0 #fff;
	-webkit-box-shadow: 0 0 0 0 #fff;
	-o-box-shadow: 0 0 0 0 #fff;
	box-shadow: 0 0 0 0 #fff;
}

time,
.incut,
.breadcrumbs,
.page-footer *
{
	font-size: 10pt !important;
}

.breadcrumbs li {
	float: none;
	display: inline-block;
}

.content ul li {
	margin-left: 20px;
	padding-left: 0;
	list-style: disc;
}


/* pretty content
--------------------------------*/
.page-column {
	float: none;
	width: auto;
}

.page-column .content time {
	margin: 0;
}

.accent {
	font-size: 14pt;
}

.incut {
	border-bottom: 0;
}

.incut:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	border-top: 1pt solid #ccc;
}

/* pretty header
-------------------------------*/
.intro-title {
	white-space: nowrap;
}

.intro-title span {
	display: inline;
}

.intro-content {
	padding-top: 0;
	margin-left: 0;
}

.header-intro {
	margin-top: 40px;
	height: auto;
}

.intro-home {
	position: absolute;
	right: 10%;
	top: 0;
	padding: 5pt;
}

.intro-home span {
	display: none;
}

.pr-intro-home-bg {
	position: absolute;
	z-index: 1;
	right: 0;
	top: 0;
	display: block;
	width: 120px;
	height: 37px;
	background: black;
}

/* pretty footer
--------------------------------*/
.page-footer {
	border-top: 1pt solid #D8D8D8;
	width: 100%;
}

.page-footer-wrapper .contact-us,
.page-footer-wrapper > * {
	display: none;
}

.page-footer-wrapper .footnote {
	position: static;
	display: block;
}

.copy {
	color: #666666;
	font-size: 10pt;
}

ol li:before, ol li:after, .page-column ul li:before {
	display: block !important;
}

.page-column ul li {
	display: block;
	position: relative;
}

.page-column ul li:before {
	position: absolute;
	left: -1em;
	top: 0;
	color: #000;
	line-height: 1.2em;
	content: '\2014';
}