/* header nav
--------------------------------*/
.header-nav {
  $top-offset: 20px;
	text-align:justify;
	height:58px;

	& li {
		display:inline-block;
		text-align:left;
		margin-top: $top-offset;
		@include font-sans(12px, #fff);
	}

	& a {
		color: $cwhite;
		&:hover {
			color:#F2E121;
		}
	}

	.active {
	  position:relative;
		color:#f2e123;

		&:before {
		  $padding: 10px;
			@include pseudo-abs(100%, 60px, -$top-offset, auto, -$padding);
			padding:0 $padding;
			background-color: #D00E0E;
			@include filter-gradient(#D00E0E, #880A0A, vertical);
			@include background-image(linear-gradient(top, #D00E0E 0%, #880A0A 100%));
		}
	}
}

.nav-item-sizer {
	width:100%;
}

/* header intro
--------------------------------*/
$intro-shadow: 44px;
.header-intro {
  position:relative;
	width:920px;
	height:200px;
	background:url("../img/bg_header_intro.jpg");
	margin-bottom:31px;
}

.header-intro:before {
  $header-intro-width: 882px;
	@include pseudo-abs($header-intro-width, $intro-shadow, auto, -$intro-shadow, 50%);
	margin-left:-$header-intro-width/2;
	background:url("../img/bg_header_intro_shadow.png");
}

.header-intro:after {
	@include pseudo-abs(104px, 152px, 25px, auto, auto, -40px);
	background:url("../img/bg_header_intro_card.png");
	z-index:1;
}

/* header title
--------------------------------*/
.intro-content {
	width:300px;
	margin-left:20px;
	padding-top:24px;
}

.intro-title {
	@include font-serif(26px, #204804);
	text-shadow: 0 1px 0px #fff;
	margin-bottom: 26px;
	line-height: 1.166;
}

.intro-home {
	text-decoration:none;
	@include font-sans(18px, #2a2a2a);
}

/* header search section
--------------------------------*/
.header-search-section {
	margin-bottom:31px;
	height:87px;
	@include box-sizing(border-box);
	@extend .cf;
}

.search {
  $w: 600px;
  $lrpadding: 20px;

  float:left;
  width:600px;
	height:100%;
  vertical-align:top;
  padding:25px $lrpadding;
	background-color: #77c43f;
	@include filter-gradient(#77c43f, #417e15, vertical);
	@include background-image(linear-gradient(top, #77c43f 0%, #417e15 100%));
	@include box-sizing(border-box);
}

.search-fullsize {
  width:100%;
  @include box-sizing(border-box);
}

.search-field-container {
	margin-right:100px;
}

.search-field-container--wcategory {
	margin-top:-8px;
}

.search-field {
	display:block;
}

.page-column .subscription-form input[type="text"], .search .search-field input {
  @include font-sans(16px);
	display:block;
	width: 100%;
	padding: 7px 10px 7px;
	border-width:1px;
	border-style:solid;
	border-top-color:#636363;
	border-right-color:#B0AFAF;
	border-bottom-color:#E5E5E5;
	border-left-color:#B0AFAF;
	background-color: #e0e0e0;

  @include box-sizing(border-box);
	@include filter-gradient(#e0e0e0, #ffffff, vertical);
	@include background-image(linear-gradient(top,  #e0e0e0 0%,#ffffff 10%));
}

.search-filter {
  display:inline-block;
	color:#fff;
	margin-top:6px;
	margin-bottom:-12px;
}

.search-submit {
	float:right;
	width:80px;
	vertical-align:top;
}

.search-submit button {
  display:block;
	border:1px solid #636363;
	padding:7px 17px 6px 17px;
	min-height:35px;
	vertical-align:top;
	background-color: #ffffff;
	@include font-sans(15px);
	@include border-radius(1px);
	@include box-sizing(border-box);
	@include filter-gradient(#ffffff, #d7d7d7, vertical);
	@include background-image(linear-gradient(top,  #ffffff 0%,#d7d7d7 100%));
}

.header-search-section .subscription {
	float:right;
	width:280px;
	padding: 9px 10px 2px 26px;
	height:100%;


  & .subscription-title {
		@include font-serif(16px);
		margin-bottom:8px;
  }

	& .subscription-link {
		@include font-sans(12px);
	}

}

/* intro showcase
--------------------------------*/
.intro-showcase {
	$scitem-width: 110px;
	$scitem-height: 78px;
	$mt: 12px;
  position:absolute;
  top:15px - $mt;
  right:28px;
  width:($scitem-width * 4) + (33px * 4);

	&.enabled .scitem {
		visibility: visible;
	}

  & .scitem {
		float:left;
		visibility:hidden;
		width: $scitem-width;
		height:$scitem-height;
		margin:$mt 33px 0 0;
		background:url("../img/sc_items.png") no-repeat;
  }

	@for $i from 0 to 8 {
		$ii: $i + 1;
		$pos: $i * -110px;
		& .scitem-#{$ii} {
			background-position:$pos 0;
		}
	}

}
