/* header nav
--------------------------------*/
.header-nav {
	text-align:justify;
	height:58px;
}

.header-nav li {
	display:inline-block;
	text-align:left;margin-top: 20px;
	@include font-sans(12px);
}

.nav-item-sizer {
	width:100%;
}

.header-nav a {
	color: $cwhite;
}
.header-nav a:hover {
	color:#F2E121;
}

/* header intro
--------------------------------*/
$intro-shadow: 44px;
.header-intro {
  position:relative;
	width:920px;
	height:200px;
	background:url("../img/bg_header_intro.jpg");
	margin-bottom:31px;
}

.header-intro:before {
  $header-intro-width: 882px;
	@include pseudo-abs($header-intro-width, $intro-shadow, auto, -$intro-shadow, 50%);
	margin-left:-$header-intro-width/2;
	background:url("../img/bg_header_intro_shadow.png");
}

.header-intro:after {
	@include pseudo-abs(104px, 152px, 25px, auto, auto, -40px);
	background:url("../img/bg_header_intro_card.png");
	z-index:1;
}

/* header title
--------------------------------*/
.intro-content {
	width:300px;
	margin-left:20px;
	padding-top:24px;
}

.intro-title {
	@include font-serif(26px, #204804);
	text-shadow: 0 1px 0px #fff;margin-bottom: 26px;line-height: 1.2;
}

.intro-home {
	text-decoration:none;
	@include font-sans(18px, #2a2a2a);
}

/* header search section
--------------------------------*/
.header-search-section {
	margin-bottom:30px;
	height:87px;
	@include box-sizing(border-box);
	@extend .cf;
}

.search {
  $w: 600px;
  $lrpadding: 20px;

  float:left;
  width:600px;
	height:100%;
  vertical-align:top;
  padding:25px $lrpadding;
	background-color: #77c43f;
	@include filter-gradient(#77c43f, #417e15, vertical);
	@include background-image(linear-gradient(top, #77c43f 0%, #417e15 100%));
	@include box-sizing(border-box);
}

.search-fullsize {
  width:100%;
  @include box-sizing(border-box);
}

.search-field-container {
	margin-right:100px;
}

.search-field-container--wcategory {
	margin-top:-8px;
}

.search-field {
	display:block;
}

.search-field input {
  @include font-sans(18px);
	display:block;
	width: 100%;
	padding: 5px 10px;
	border-width:1px;
	border-style:solid;
	border-top-color:#636363;
	border-right-color:#B0AFAF;
	border-bottom-color:#E5E5E5;
	border-left-color:#B0AFAF;
	background-color: #e0e0e0;

  @include box-sizing(border-box);
	@include filter-gradient(#e0e0e0, #ffffff, vertical);
	@include background-image(linear-gradient(top,  #e0e0e0 0%,#ffffff 10%));
}

.search-filter {
  display:block;
	color:#fff;
	margin-top:8px;
	margin-bottom:-12px;
}

.search-submit {
	float:right;
	width:80px;
	vertical-align:top;
}

.search-submit button {
  display:block;
	border:1px solid #636363;
	padding:7px 15px 7px 15px;
	min-height:33px;
	vertical-align:top;
	background-color: #ffffff;
	@include font-sans(15px);
	@include border-radius(1px);
	@include box-sizing(border-box);
	@include filter-gradient(#ffffff, #d7d7d7, vertical);
	@include background-image(linear-gradient(top,  #ffffff 0%,#d7d7d7 100%));
}

.header-search-section .subscription {
	float:right;
	width:280px;padding: 11px 10px 0 26px;
	height:100%;


  & .subscription-title {
		@include font-serif(16px);
		margin-bottom:6px;
  }

	& .subscription-link {
		@include font-sans(12px);
	}

}

.promo {
  margin-bottom:30px;
	padding:15px 0 12px 0;
	background:#FFF;
	border-width:1px;
	border-style:solid;
	border-top-color:#81886B;
	border-right-color:#B3B7A7;
	border-bottom-color:#D9DBD3;
	border-left-color:#B3B7A7;
	@include single-box-shadow(#B3B7A7, -1px, 2px, 3px, 0px, inset);
	text-align:center;
}

/* intro showcase
--------------------------------*/
$scitem-width: 120px;
.intro-showcase {
  position:absolute;
  top:0;
  right:88px;
  width:$scitem-width * 4;
}

.intro-showcase .scitem {
	float:left;
	width: $scitem-width;
	height:80px;
	margin-top:15px;
	outline:1px solid blue;
}