.ico {
  position:relative;
	display:inline-block;
	background:url("../img/icons.png");
}

.ico-print {
  top:2px;
  width:15px;
  height:11px;
  margin-right:5px;
	background:url("../img/tmp_ico_ico-print.png") no-repeat;
}

.ico-discuss {
  top:2px;
	width:24px;
	height:16px;
	margin-right:5px;
	background:url("../img/tmp_ico_ico-discuss.png") no-repeat;
}

.article-navigation .ico {
	position:absolute;
}

.ico-prev-article {
  top:.6em;
  left:0;
	width:16px;
	height:6px;
	background:url("../img/tmp_ico_ico-prev-article.png") no-repeat;
}

.ico-next-article {
  top:.6em;
  right:0;
	width:16px;
	height:6px;
	background:url("../img/tmp_ico_ico-next-article.png") no-repeat;
}