/* Base layout
--------------------------------*/
html, body {
	height:100%;
}

.page {
	position:relative;
  z-index:0;
  min-height:100%;
	background-color: #EDEFE4;
}

.page:before {
  @include pseudo-abs(100%, 66px, 0, auto); //top: 0
	background:#880606;
}

.page:after {
  @include pseudo-abs(100%, 1600px, 66px, auto, 0); //top: 0

	@include filter-gradient(#d1d6c1, #edefe4, vertical);
	@include background-image(linear-gradient(top,  rgba(209,214,193,1) 0%,rgba(237,239,228,1) 100%));
}

/* Main page layout blocks
--------------------------------*/
.page-header, .page-content, .page-footer {
	position:relative;
	z-index:10;
	@extend .cf;
}

.page-header, .page-content {
  width:$page-width - $page-padding * 2;
	margin:0 auto;
}

.page-content-column {
  float:left;
	width:600px;
}

.page-sidebar {
  float:right;
	width:280px;
}

$page-footer-shadow: 20px;
.page-footer {
  border-top:1px solid #B3B7A4;
	background:#D1D6C1;
	margin-top:45px;

	&:after {
		@include pseudo-abs(100%, 70px, auto, 0); //bottom: 0
		background:#880606;
	}
}

.page-footer-wrapper {
  position:relative;
	width:$page-width - $page-padding * 2;
	margin:0 auto;
	padding-top:$page-footer-shadow;

	&:before {
		@include pseudo-abs(100%, $page-footer-shadow, -1px, auto, 50%);
		background:url("../img/bg_exude_shadowed_light.png");
		margin-left:-(917px / 2);
	}
}

/* articles/ column-pages
--------------------------------*/
.page-column {
	float:left;
	width:600px;
}

.page-sidebar {
	float:right;
	width:280px;
}
