$full: 100%;

@mixin pseudo-abs(
  $width: $full,
  $height: $full,
  $top : auto,
  $bottom: auto,
  $left : auto,
  $right: auto
  )
{
	content: '';
	position:absolute;
	display:block;

	top: $top;
	bottom: $bottom;
	left: $left;
	right: $right;

	width: $width;
	height: $height;

	z-index:-1;
}

@mixin font-sans($fz: 11px, $color: #000) {
	font: $fz Arial, Helvetica, sans-serif;
	color:$color;
}

@mixin font-serif($fz: 12px, $color:#000) {
	font: $fz Georgia, "Times New Roman", serif;
	color:$color;
}