.page-sidebar {
  padding-top:14px;

  & h3 {
		@include font-serif(20px);
		margin-bottom:19px;
  }

	& .b-exude-border {
		padding-bottom: 0;
		margin-bottom:40px;
	}

	& .b-exude-border .resources-list {
		margin-bottom:0;
	}

	& .resources-list {
		margin-bottom:40px;

		& li {
			@include font-serif(12px);
			margin-bottom:11px;
			line-height:1.8;
		}

		& .details {
			@include font-sans(11px);
			display:block;
			margin-top:4px;
		}
	}

	& .resources-list-inline .details {
		display:inline-block;
	}

	& .sidebar-promo {
		margin-bottom:40px;
	}

	& .switcher {
		padding: 17px 0;
	}

	& .switcher-list {
		top:11px;
	}

}
