/* sass
--------------------------------*/
@import "_compass.scss";
@import "_mixins.scss";
@import "_variables.scss";

/* addon content
--------------------------------*/
.picture {
	margin-bottom:15px;

	& img {
		@include single-box-shadow(#C8CDB6, 0, 0, 6px, 5px);
	}
}

.content .picture-centered {
	text-align:center;
    vertical-align:top;
    margin:0 -10px -10px;
}

.picture-centered img {
    display:inline-block;
    vertical-align:top;
    margin: 0 10px 30px;
}

p.accent {
	@include font-sans(18px);
	line-height:1.466 !important;
	margin-bottom:19px;
}

.accent p {
	@include font-sans(18px);
	line-height:1.466 !important;
	margin-bottom:0;
}

.note-text {
	color:#5F605B;
  font-style:italic;
}

.note {
  @extend .note-text;
	padding-left:120px;
}

.caption {
	font-style:italic;
	color:#346a0e;
	text-align:center;
}

.incut {
  $incut-shadow-height: 17px;
  @include font-sans(12px);
  position:relative;
  margin-bottom:25px;
  padding:15px 60px;
  background:#fff;
  line-height:1.7 !important;
	border-bottom:1px solid #BEBFB6;

	&:before {
	  @include incut-shadow();
	}
}

.data-table {
	width:100%;
	margin-bottom:25px;
	border-top:2px solid #767772;
	border-bottom:2px solid #767772;

	& td {
		padding: 10px 10px;
	}

	& .head td {
	  padding:5px 10px;
	  font-weight:bold;
		color:#3f7f12;
		background:#fff;
		border-bottom:1px solid #767772;
	}

	.bdt {
		border-top:1px solid #767772;
	}
}

/* lists (duplicated styles for teditor
--------------------------------*/
ol, ul { list-style: none; }

.page-column ul, .page-column ol {
	margin-bottom:15px;
}

.page-column ol {
	margin-left:0;
	counter-reset: item;
}

.page-column ol ol {
	margin-left:20px;
}

.page-column ol li {
	display: block;
	clear:both;
    font-weight:bold;
    color:#3f7f12	;
}                       

.page-column ol li p {
    font-weight:normal;
    color:#000;
}


.page-column ol li:before {
	counter-increment: item;
	content: counters(item, ".") ".";
	float:left;
	margin-right:.6em;
}

.page-column {
  & ul {

		& ul {
			margin-bottom:0;
		}

		& li {
			position:relative;
			padding-left:20px;
		}

		& li:before {
			position: absolute;
			content: "\2014";
			font-size:20px;
			line-height:1;
			width:0.7em;
			overflow:hidden;
			left: 0;
			top: -2px;
			color:#3F7F12;
		}
  }

}

.content .article-author {
    margin-bottom:0;
     font-weight:bold;
    font-style:italic;
}
