.eshop-reviews, .buy-reports, .customer-helper {
	position:relative;
}

.report-item {
  @extend .cf;
	margin-bottom:30px;
}

.report-item header {
  float:left;
	width:110px;
	margin-right:10px;
	@include font-sans(11px);
}

$rc-width: 520px;
$rc-margin: 40px;
.report-content {
  float:left;
	width:$rc-width - $rc-margin;
	margin-right:$rc-margin;
}

.report-item footer {
	float:left;
	width:260px;
	@include font-sans(11px);
}
