.b-exude-shadowed-light {
	& h2 {
		margin-bottom: 48px;
	}
}

.eshop-reviews, .buy-reports, .customer-helper {
	position:relative;
}

.report-item {
  @extend .cf;
	margin-bottom:20px;

	& header {
		float:left;
		width:110px;
		margin-right:10px;
		@include font-sans(11px);
		line-height:1.2;
	}

	& footer {
		float:left;
		width:260px;
		@include font-sans(11px);
		line-height:1.2;
	}
}

$rc-width: 520px;
$rc-margin: 40px;
.report-content {
  float:left;
	width:$rc-width - $rc-margin;
	margin-right:$rc-margin;
	margin-top:-.35em;
	line-height:1.6em;
}