$eqwidth: 440px;
$heading-offset: 60px;

.equal-height-wrapper {
	position:relative;
	width:400px;
	left:0px;
	margin:$heading-offset 0 10px;

	& .switcher-item {
		margin-top:35px;
	}
}

.equal-height-wrapper-inner {
	width:440px;
	position:relative;
	left: 100%;
	margin:0px -100% 0px 60px;
}

/* HOT Interesting
--------------------------------*/
.hot-interesting {
	position:relative;
	float:left;
	width:400px;
	margin-right:-440px;
	margin-left:0px;
	left:-480px;

	& .switcher-list {
		top:3px;
	}
}

.hot-interesting > h2, .hot-forum > h2 {
	margin:-$heading-offset 0 40px -22px;
}

.hot-interesting-list a, .hot-forum-list a {
	@include font-serif(13px, $c-link)
}

.hot-interesting-list {
	& dt {
		@include font-sans(11px);
		margin-bottom:2px;
	}

	& dd {
		margin-bottom:15px;
	}

	& dt a {
		color:#000;
	}
}

.hot-forum {
	& > h2 {
		margin-bottom: 35px;
	}

	& .switcher-list {
		top:18px;
		right:6px;
	}
}

/* HOT Forum
--------------------------------*/
.hot-forum-list {
	& li {
		margin-bottom:11px;
	}

	& span {
		@include font-sans(11px);
		display:inline-block;
	}
}
