$eqwidth: 440px;
$heading-offset: 50px;

.equal-height-wrapper {
	position:relative;
	width:400px;
	left:0px;
	margin:$heading-offset 0 0;
}

.equal-height-wrapper-inner {
	width:440px;
	position:relative;
	left: 100%;
	margin:0px -100% 0px 60px;
}

.equal-height-wrapper .switcher-item {
	margin-top:35px;
}

/* HOT Interesting
--------------------------------*/
.hot-interesting {
	position:relative;
	float:left;
	width:400px;
	margin-right:-440px;
	margin-left:0px;
	left:-480px;
}

.hot-interesting > h2, .hot-forum > h2 {
	margin:-$heading-offset 0 30px;
}

.hot-interesting-list dd {
  margin-bottom:10px;
}

/* HOT Forum
--------------------------------*/
.hot-forum .switcher-list {
	top:15px;
}

.hot-forum-list li {
	margin-bottom:10px;
}

.hot-forum-list span {
	@include font-sans(11px);
}