<!-- INCLUDE mcp_header.html -->

<form method="post" name="mcp" action="{U_POST_ACTION}">

<table class="tablebg" width="100%" cellspacing="1">
<tr>
	<td class="row3" colspan="5" align="center"><b class="gen">{L_WARNINGS}</b></td>
</tr>
<tr>
	<th>&nbsp;{L_USERNAME}&nbsp;</th>
	<th>&nbsp;{L_WARNING_TIME}&nbsp;</th>
	<th>&nbsp;{L_WARNING_EXPIRES}&nbsp;</th>
	<th>&nbsp;</th>
	<th>&nbsp;</th>
</tr>
<!-- BEGIN user -->
	<tr>
		<td class="row1" width="15%" valign="top"><span class="gen">{user.USERNAME_FULL}</span></td>
		<td class="row2" width="15%" valign="top"><span class="gen">{user.WARNINGS}</span></td>
		<td class="row1" width="15%" valign="top"><span class="gen">{user.WARNING_TIME}</span></td>
		<td class="row2" width="15%" valign="top"><span class="gen"><!-- IF user.U_WARNING_POST_URL --><a href="{user.U_WARNING_POST_URL}">{L_WARNING_POST}</a><!-- ELSE -->&nbsp;<!-- ENDIF --></span></td>
		<td class="row2" width="15%" valign="top"><span class="gen"><!-- IF user.WARNING_STATUS --><a href="{user.U_EDIT}">{L_EDIT_WARNING}</a><!-- ELSE -->{L_WARNING_EXPIRED}<!-- ENDIF --></span></td>
	</tr>
<!-- BEGINELSE -->
	<tr>
		<td class="row1" colspan="5" align="center"><span class="gen">{L_WARNINGS_ZERO_TOTAL}</span></td>
	</tr>
<!-- END user -->
<tr align="center">
	<td class="row3" colspan="5"><span class="gensmall">{L_DISPLAY_POSTS}:</span> {S_SELECT_SORT_DAYS}&nbsp;<span class="gensmall">{L_SORT_BY}</span> {S_SELECT_SORT_KEY} {S_SELECT_SORT_DIR}&nbsp;<input class="btnlite" type="submit" value="{L_GO}" name="sort" /></td>
</tr>
</table>

<table width="100%" cellspacing="0" cellpadding="0">
<tr>
	<td class="pagination">{PAGE_NUMBER} [ {TOTAL_WARNINGS} ]</td>
	<td align="{S_CONTENT_FLOW_END}"><span class="pagination"><!-- INCLUDE pagination.html --></span></td>
</tr>
</table>
{S_FORM_TOKEN}
</form>

<br clear="all" /><br />

<!-- INCLUDE mcp_footer.html -->