/* PageError Overwrites
--------------------------------*/
.page-error {
	background: #D1D6C0;

	&	.page {
		position:relative;
		z-index:0;
		min-height:100%;
		filter: none;
		background: none;
		padding-left:20px;
	}

	& header {
		margin-left:-20px;
	}

	& .page:before {
		display:none;
	}

	& .page:after {
	  display:none;
	}

	& .page {
		width:920px;
		margin:0 auto;
	}

	& .header-intro {
		position:relative;
		width:920px;
		height:auto;
		margin:65px 0 140px;
		background:none;
	}

	& .header-intro:before {
		display:none;
	}

	& .header-intro:after {
		display:none;
	}

	& h1 {
		@include font-serif(48px);
		margin-bottom:72px;
	}

	& footer {
		margin-top:53px;
	}

	& footer nav li {
		float:left;
	}

	& footer nav li a {
		display:inline-block;
		margin:0 5px;
	}

	& footer nav li:first-child a {
		margin-left:0;
	}

	& .intro-content {
		padding-top:0;
		width:400px;
	}

	& .intro-title {
		min-height:91px;
	}

	& .error-404 .error-picture {
		position:absolute;
		top:5px;
		right:-20px;
	}

	& .error-500 {
		&	.error-picture {
				position:absolute;
				top:0;
				right:170px;
			}

		& .header-intro {
			margin-bottom:103px;
		}
	}

}
